<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>{{page.subtitle}}</span>

     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Finance</a></li>
      <li><a href="#">Accounts</a></li>
      <li> <a href="#">Settings</a></li>
      <li class="active">Account Settings</li>
    </ol>
    <div class="alert alert-success" ng-show="successNotify">
      <strong>Success! </strong>{{successNotifyValue}}.
    </div>
    <!-- <div class="alert alert-success" ng-show="updateSuccess">
      <strong>Success!</strong>Settings successfully updated.
    </div> -->
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <!-- =========================================================-->
        <!-- Tabs-->
        <!-- =========================================================-->
        <md-content class="tabsdemoDynamicHeight">
          <md-tabs md-dynamic-height md-border-bottom>
            <!-- =========================================================-->
            <!-- Settings Tab-->
            <!-- =========================================================-->
            <md-tab label="Settings" md-on-select="show_settings()" ng-if="!menuPermissionLevel3('Finance','fee_settings','account_setting','setting','update_access')">
              <md-content class="md-padding">
                <section class="tile" fullscreen="isFullscreen01">
                  <div class="tile-body">
                    <form name="accountSettingsForm" class="form-horizontal" submit-validate role="form" novalidate>
                      <div class="form-group" ng-class="{ 'has-error' : accountSettingsForm.name.$invalid && !accountSettingsForm.name.$pristine, 'has-success' : accountSettingsForm.name.$valid && !accountSettingsForm.name.$pristine}">
                        <div class="col-sm-6">
                          <label for="name">School Name*</label>
                          <input type="text" ng-model="account_settings.school_name" name="name" maxlength="40" class="form-control" placeholder="School Name" ng-pattern="/^[a-zA-Z ]+$/" required>
                          <p class="help-block">
                            <span ng-show="accountSettingsForm.name.$error.pattern">Name is invalid.</span>
                            <span ng-show="accountSettingsForm.name.$error.required && !accountSettingsForm.name.$pristine">Name is required.</span>
                          </p>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-6" ng-class="{ 'has-error' : accountSettingsForm.fiscal_start.$invalid && !accountSettingsForm.fiscal_start.$pristine, 'has-success' : accountSettingsForm.fiscal_start.$valid && !accountSettingsForm.fiscal_start.$pristine}">
                          <label for="fiscal_start">Fiscal Year Start*</label>
                          <div class="input-group">
                            <input type="text" name="fiscal_start" disabled class="form-control" ng-model="account_settings.fiscal_start" datepicker-popup="{{format}}" is-open="dp.openedFiscalStart" datepicker-options="dateOptions" datepicker-mode="'month'" min-mode="'month'" aw-datepicker-pattern="^(19|20)\d{2}\/(0[1-9]|1[0-2])$" ng-change="set_fiscal_end()" close-text="Close" placeholder="YYYY/MM" required/>
                            <span class="input-group-btn ">
                    <button type="button " class="btn btn-default " ng-click="openFiscalStart($event) "><i class="fa fa-calendar "></i></button>
                    </span>
                          </div>
                          <p class="help-block ">
                            <span ng-show="accountSettingsForm.fiscal_start.$invalid && !accountSettingsForm.fiscal_start.$pristine ">Fiscal year start is invalid.</span>
                            <span ng-show="accountSettingsForm.fiscal_start.$error.required && !accountSettingsForm.fiscal_start.$pristine ">Fiscal year start is required.</span>
                          </p>
                        </div>
                        <div class="col-sm-6" ng-class="{ 'has-error' : accountSettingsForm.fiscal_end.$invalid && !accountSettingsForm.fiscal_end.$pristine, 'has-success' : accountSettingsForm.fiscal_end.$valid && !accountSettingsForm.fiscal_end.$pristine}">
                          <label for="fiscal_end ">Fiscal Year End*</label>
                          <div class="input-group ">
                            <input name="fiscal_end " type="text " class="form-control " datepicker-popup="{{format}} " ng-model="account_settings.fiscal_end " is-open="dp.openedFiscalEnd " aw-datepicker-pattern="^(19|20)\d{2}\/(0[1-9]|1[0-2])$" datepicker-options="dateOptions " ng-required="true " placeholder="YYYY/MM" close-text="Close " datepicker-mode="'month'" min-mode="'month'" required disabled="">
                            <span class="input-group-btn ">
                      <button type="button " class="btn btn-default " ng-click="openFiscalEnd($event) " disabled><i class="glyphicon glyphicon-calendar "></i></button>
                    </span>
                            <p class="help-block ">
                              <span ng-show="accountSettingsForm.fiscal_end.$invalid && !accountSettingsForm.fiscal_end.$pristine ">Fiscal year end is invalid.</span>
                              <span ng-show="accountSettingsForm.fiscal_end.$error.required && !accountSettingsForm.fiscal_end.$pristine ">Fiscal year end is required.</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="form-group ">
                        <div class="col-sm-6 ">
                          <label for="periods ">Periods*</label>
                          <select ui-jq="chosen " name="periods " required ng-model="account_settings.period " class="form-control ">
                            <option value=" " ng-selected>Select a period</option>
                            <option>Monthly</option>
                            <option>Quarterly</option>
                            <option>Bi Yearly</option>
                            <option>Annually </option>
                          </select>
                          <p class="help-block ">
                            <span ng-show="accountSettingsForm.period.$error.required && !accountSettingsForm.fiscal_end.$pristine ">Period is required.</span>
                          </p>
                        </div>
                      </div>
                      <div class="form-group ">
                        <div class="col-sm-6 " ng-class="{ 'has-error' : accountSettingsForm.tax_end.$invalid && !accountSettingsForm.tax_end.$pristine, 'has-success' : accountSettingsForm.tax_end.$valid && !accountSettingsForm.tax_end.$pristine}">
                          <label for="tax_start ">Tax Year Start*</label>
                          <div class="input-group ">
                            <input type="text " name="tax_start " disabled class="form-control " ng-model="account_settings.tax_start" datepicker-popup="{{format}}" is-open="dp.openedTaxStart" datepicker-options="dateOptions" datepicker-mode="'month'" min-mode="'month'" aw-datepicker-pattern="^(19|20)\d{2}\/(0[1-9]|1[0-2])$" placeholder="YYYY/MM" close-text="Close" required ng-change="set_tax_end()" />
                            <span class="input-group-btn ">
                    <button type="button" class="btn btn-default" ng-click="openTaxStart($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                          </div>
                          <p class="help-block ">
                            <span ng-show="accountSettingsForm.tax_start.$error.required && !accountSettingsForm.tax_start.$pristine ">Tax year start is required.</span>
                            <span ng-show="accountSettingsForm.tax_start.$invalid && !accountSettingsForm.tax_start.$pristine ">Tax year start is invalid.</span>
                          </p>
                        </div>
                        <div class="col-sm-6 " ng-class="{ 'has-error' : accountSettingsForm.tax_end.$invalid && !accountSettingsForm.tax_end.$pristine, 'has-success' : accountSettingsForm.tax_end.$valid && !accountSettingsForm.tax_end.$pristine}">
                          <label for="tax_start ">Tax Year end*</label>
                          <div class="input-group ">
                            <input type="text " name="tax_end " class="form-control " placeholder="YYYY/MM" datepicker-popup="{{format}} " ng-model="account_settings.tax_end " is-open="dp.openedTaxEnd" datepicker-options="dateOptions " ng-required="true " close-text="Close " datepicker-mode="'month'" min-mode="'month'" aw-datepicker-pattern="^(19|20)\d{2}\/(0[1-9]|1[0-2])$" required disabled="" />
                            <span class="input-group-btn ">
                    <button type="button " class="btn btn-default " disabled ng-click="openTaxEnd($event) "><i class="fa fa-calendar "></i></button>
                    </span>
                          </div>
                          <p class="help-block ">
                            <span ng-show="accountSettingsForm.tax_end.$error.required && !accountSettingsForm.tax_end.$pristine ">Tax year end is required.</span>
                            <span ng-show="accountSettingsForm.tax_end.$invalid && !accountSettingsForm.tax_end.$pristine ">Tax year end is invalid.</span>
                          </p>
                        </div>
                      </div>
                      <div class="form-group ">
                        <div class="col-sm-5 ">
                          <label for="currency ">Currency</label>
                          <select ui-jq="chosen" name="currency " ng-model="temp.c_id " class="chosen form-control ">
                            <option value="" disabled="">Select a currency</option>
                            <option ng-repeat="currency in all_currencies " value="{{currency.id}} " ng-if="!currency.selected ">{{currency.country}} {{currency.name}}</option>
                          </select>
                        </div>
                        <div class="col-sm-1 ">
                          <button type="button" ng-click="add_currency()" class="btn btn-rounded-20 btn-primary btn-sm " style="width:30px;margin-top:25px; "><i class="fa fa-plus " style="margin-top: 4px "></i></button>
                        </div>
                      </div>
                      <div class="form-group ">
                        <div class="col-sm-12">
                          <table class="table table-bordered table-striped table-condensed table-hover ">
                            <thead>
                              <tr>
                                <th class="col-sm-2 "> <span class="class-sending ">Name</span></th>
                                <th class="col-sm-2 "><span class="class-sending ">Country</span></th>
                                <th class="col-sm-2 "><span class="class-sending ">International Symbol</span></th>
                                <th class="col-sm-2 "><span class="class-sending ">Display Symbol</span></th>
                                <th class="col-sm-2 ">
                                  <span class="class-sending ">Base Currency</span>
                                </th>
                                <th class="col-sm-2 "><span class="class-sending ">Conversion</span></th>
                                <th class=" "><span class="class-sending ">Action</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="currency in all_currencies " ng-if="currency.selected ">
                                <td>
                                  <input type="text " ng-model="currency.name " class="form-control ">
                                </td>
                                <td>
                                  <input type="text " ng-model="currency.country " class="form-control ">
                                </td>
                                <td>
                                  <input type="text " ng-model="currency.intl_symbol " class="form-control ">
                                </td>
                                <td>
                                  <input type="text " ng-model="currency.display_symbol " class="form-control ">
                                </td>
                                <td>
                                  <label class="checkbox checkbox-custom">
                                    <input type="checkbox" ng-model="currency.base " ng-change="set_base(currency.id) "><i></i>
                                  </label>
                                </td>
                                <td>
                                  <input type="text " class="form-control " ng-model="currency.conversion ">
                                </td>
                                <td>
                                  <button type="button" class="btn btn-rounded-20 btn-danger btn-sm" style="width:30px" ng-click="remove_currency(currency.id)" title="Delete"><i class="fa fa-times "></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="form-group margin-top-10 ">
                        <div class="col-sm-12 " style="text-align:center; ">
                          <button name="saveBtn " class="btn btn-success btn-ef btn-ef-3 btn-ef-3c " ng-disabled="accountSettingsForm.$invalid " ng-click="account_settings_submit() "><i class="fa fa-arrow-right "></i> Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </section>
              </md-content>
            </md-tab>
            <!-- =========================================================-->
            <!-- Chart of Accounts Tab-->
            <!-- =========================================================-->
            <md-tab label="Chart of Accounts " md-on-select="show_coa()" ng-if="!menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','index_access')">
              <md-content class="md-padding ">
                <section class="tile" fullscreen="isFullscreen01">
                  <div class="tile-body">
                    <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_account('lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','create_access')">
                      <i class="fa fa-plus"></i> Account</button>
                    <table ng-table="tableParams1" class="table table-custom" show-filter="true">
                      <tr ng-repeat="chart_of_account in $data">
                        <td data-title="'Code'">
                          {{chart_of_account.code}}</td>
                        <td data-title="'Name'" filter="{ title: 'text'}" sortable="'title'">
                          {{chart_of_account.title}}</td>
                        <td data-title="'Parent Account'" filter="{ parent_account: 'text'}" sortable="'parent_account'">
                          {{chart_of_account.parent_account}}</td>
                        <td data-title="'Category'" filter="{ account_type: 'text'}" sortable="'account_type'">
                          {{chart_of_account.account_type}}</td>
                        <td data-title="'Debit'" filter="{field5: 'text'}" sortable="'field5'">
                          {{chart_of_account.field5}}</td>
                        <td data-title="'Credit'" filter="{field5: 'text'}" sortable="'field6'">
                          {{chart_of_account.field6}}</td>
                        <td data-title="'Status'" filter="{active_status: 'text'}" sortable="'active_status'">
                          {{chart_of_account.active_status}}</td>
                        <td data-title="'Actions'">
                          <div class="row">
                            <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="edit_accounts(chart_of_account.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','update_access')"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="view_accounts(chart_of_account.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','view_access')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Journals Tab-->
            <!-- =========================================================-->
            <md-tab label="Journal " md-on-select="show_journal()" ng-if="!menuPermissionLevel3('Finance','fee_settings','account_setting','journal','index_access')">
              <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                  <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_journal('lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','journal','create_access')">
                    <i class="fa fa-plus"></i> Journal</button>
                  <table ng-table="tableParams2" class="table table-custom" show-filter="true">
                    <tr ng-repeat="journal in $data">
                      <td data-title="'Sr. No.'">
                        {{(tableParams2.page()-1)*tableParams2.count() +($index+1)}}</td>
                      <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{journal.name}}</td>
                      <td data-title="'Code'" filter="{ code: 'text'}" sortable="'code'">
                        {{journal.code}}</td>
                      <td data-title="'Type'" filter="{ journal_type: 'text'}" sortable="'journal_type'">
                        {{journal.journal_type}}</td>
                      <td data-title="'Debit'" filter="{debit_account: 'text'}" sortable="'debit_account'">
                        {{journal.debit_account}}</td>
                      <td data-title="'Credit'" filter="{credit_account: 'text'}" sortable="'credit_account'">
                        {{journal.credit_account}}</td>
                      <td data-title="'Actions'">
                        <div class="row">
                          <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="edit_journal(journal.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','journal','update_access')"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="view_journal(journal.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','journal','view_access')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </section>
            </md-tab>
          </md-tabs>
          </md-content>
      </div>
    </div>
  </div>
