<style type="text/css">
.bootstrap-datetimepicker-widget {
  z-index: 99999999999999 !important;
}
</style>
<form name="bellForm" class="form-horizontal" submit-validate ng-submit="create_bell_timing_submit()" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Bell Timing</strong> Create</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : bellForm.bell_title.$invalid && !bellForm.bell_title.$pristine, 'has-success' : bellForm.bell_title.$valid && !bellForm.bell_title.$pristine}">
          <label for="bell_title">Name</label>
          <input type="text" name="bell_title" class="form-control" placeholder="Name" ng-model="bell_timing.bell_title" ng-pattern="/^[a-zA-Z0-9 ]+$/" required>
          <p class="help-block">
            <span ng-show="bellForm.bell_title.$error.pattern">Name is invalid.</span>
            <span ng-show="bellForm.bell_title.$error.required && !bellForm.bell_title.$pristine">Name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : bellForm.bell_periods.$invalid && !bellForm.bell_periods.$pristine, 'has-success' : bellForm.bell_periods.$valid && !bellForm.bell_periods.$pristine}">
          <label for="name">No. of Lessons</label>
          <select ui-jq="chosen " name="bell_periods " required ng-model="bell_timing.bell_periods " ng-change="init_periods()" class="form-control ">
            <option ng-selected="string">1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <!-- <select id="periodselect" class="form-control sapce-dropdown" ng-model="bell_timing.bell_periods" ng-name="periodcount" ng-options="periodcount for periodcount in Range(1, 10)">
          </select> -->
          <p class="help-block">
            <span ng-show="bellForm.bell_periods.$error.required && !bellForm.bell_periods.$pristine">Lesson Count is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <table class="table table-bordered">
          <tr>
            <th>
              Short code *
            </th>
            <th>
              Start Time *
            </th>
            <th>
              End Time *
            </th>
            <th>
              Length
            </th>
          </tr>
          <tr ng-repeat="period in bell_timing.periods">
            <td>
              <div ng-class="{ 'has-error' : bellForm.bell_periods.$invalid && !bellForm.bell_periods.$pristine, 'has-success' : bellForm.bell_periods.$valid && !bellForm.bell_periods.$pristine}">
                <input type="text" id="{{$index}}code" placeholder="Short code " class="form-control" pang-pattern="/^[a-zA-Z0-9 ]+$/" title="Alphanumeric values only" ng-model="period.code" maxlength="20" name="name">
              </div>
            </td>
            <td>
              <timepicker mousewheel="mouse" show-spinners="show_spinners"  ng-model="period.start" ng-change="set_value(period,$index,0)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required default-time="11:42:00"></timepicker>
              <!-- <input type='text' id="{{$index}}start" required ng-model="period.start" ng-model-onblur ng-blur="set_value(period,$index,0)" class="form-control datetimepicker-bell" /> -->
            </td>
            <td>
              <timepicker mousewheel="mouse" show-spinners="show_spinners" ng-model="period.end" ng-change="set_value(period,$index,1)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></timepicker>
              <!-- <input type='text' id="{{$index}}end" required ng-model="period.end" ng-model-onblur ng-blur="set_value(period,$index,1)" class="form-control datetimepicker-bell" /> -->
            </td>
            <td>
              <input type="text" id="{{$index}}length" ng-model="period.length" placeholder="Length" class="form-control" maxlength="20" name="name" disabled required>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : bellForm.bell_info.$invalid &&   !bellForm.bell_info.$pristine, 'has-success' : bellForm.bell_info.$valid && !bellForm.bell_info.$pristine}">
          <label for="bell_info">Additional Information</label>
          <textarea name="bell_info" placeholder="Additional Information" class="form-control" ng-model="bell_timing.bell_info"></textarea>
        </div>
      </div>
    </div>
  </section>
  <div class="modal-footer">
    <button type="submit" name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="bellForm.$invalid"><i class="fa fa-arrow-right"></i> Save</button>
    <button type="button" name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
  </div>
</form>
