<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_account('lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','create_access')">
  <i class="fa fa-plus"></i> Account</button>
<table ng-table="tableParams1" class="table table-custom" show-filter="true">
  <tr ng-repeat="chart_of_account in $data">
    <td data-title="'Code'">
      {{chart_of_account.code}}</td>
    <td data-title="'Name'" filter="{ title: 'text'}" sortable="'title'">
      {{chart_of_account.title}}</td>
    <td data-title="'Parent Account'" filter="{ parent_account: 'text'}" sortable="'parent_account'">
      {{chart_of_account.parent_account}}</td>
    <td data-title="'Category'" filter="{ account_type: 'text'}" sortable="'account_type'">
      {{chart_of_account.account_type}}</td>
    <td data-title="'Debit'" filter="{field5: 'text'}" sortable="'field5'">
      {{chart_of_account.field5}}</td>
    <td data-title="'Credit'" filter="{field5: 'text'}" sortable="'field6'">
      {{chart_of_account.field6}}</td>
    <td data-title="'Status'" filter="{active_status: 'text'}" sortable="'active_status'">
      {{chart_of_account.active_status}}</td>
    <td data-title="'Actions'">
      <div class="row">
        <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="edit_accounts(chart_of_account.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','update_access')"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="view_accounts(chart_of_account.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','view_access')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
      </div>
    </td>
  </tr>
</table>
