.app-modal-window-xl .modal-dialog {
  width: 95%;
}

.md-autocomplete-suggestions {
  z-index: 10000 !important;
}

.form-dotted-group {
  border: 1px dotted #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.photo-bg {
  background-color: #fff;
  /*bottom: 5px;*/
  float: left;
  height: 193px;
  padding: 5px;
  position: absolute;
  width: 180px;
  z-index: 999999999999999;
}

#logoPreview {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

#logoPreviewBranch {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.prodile-photo-branch {
  float: left;
}

.profile-photo {
  position: absolute;
  bottom: 6px;
  left: 10px;
  z-index: 999999;
}

.fileinput-button {
  width: 29px;
  text-align: left;
  z-index: 99999;
  font-size: 22px;
  float: left;
  cursor: pointer;
}

.prodile-photo-branch input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  /* font-size: 999px; */
  text-align: left;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.chosen-container.chosen-container-single {
  width: 100% !important;
}
