<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_journal('lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','journal','create_access')">
  <i class="fa fa-plus"></i> Journal</button>
<table ng-table="tableParams2" class="table table-custom" show-filter="true">
  <tr ng-repeat="journal in $data">
    <td data-title="'Sr. No.'">
      {{(tableParams2.page()-1)*tableParams2.count() +($index+1)}}</td>
    <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
      {{journal.name}}</td>
    <td data-title="'Code'" filter="{ code: 'text'}" sortable="'code'">
      {{journal.code}}</td>
    <td data-title="'Type'" filter="{ journal_type: 'text'}" sortable="'journal_type'">
      {{journal.journal_type}}</td>
    <td data-title="'Debit'" filter="{debit_account: 'text'}" sortable="'debit_account'">
      {{journal.debit_account}}</td>
    <td data-title="'Credit'" filter="{credit_account: 'text'}" sortable="'credit_account'">
      {{journal.credit_account}}</td>
    <td data-title="'Actions'">
      <div class="row">
        <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="edit_journal(journal.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','journal','update_access')"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="view_journal(journal.id, 'lg')" ng-hide="menuPermissionLevel3('Finance','fee_settings','account_setting','journal','view_access')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
      </div>
    </td>
  </tr>
</table>
