<form name="userForm" class="form-horizontal" submit-validate ng-submit="submitForm(userForm.$valid)" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(userForm);">
      <h1 class="custom-font"><strong>Change</strong> Password</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong>
        <br> {{ errorsToShow }}</p>
      </div>
      </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
       <div class="col-sm-6" ng-class="{ 'has-error' : userForm.currentpassword.$invalid && !userForm.currentpassword.$pristine, 'has-success' : userForm.currentpassword.$valid && !userForm.currentpassword.$pristine}">
          <label for="password">Current Password</label>
          <input type="password" name="currentpassword" placeholder="Current Password" id="currentpassword" class="form-control" ng-model="user.current_password" ng-minlength="8" required>
          <p class="help-block">
            <span ng-show="userForm.currentpassword.$error.required && !userForm.currentpassword.$pristine">Password is required.</span>
            <span ng-show="userForm.currentpassword.$error.minlength">Password is too short.</span>
          </p>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" id="password" class="form-control" ng-model="user.password" ng-minlength="8" required>
          <p class="help-block">
            <span ng-show="userForm.password.$error.required && !userForm.password.$pristine">Password is required.</span>
            <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" name="passwordConfirm" placeholder="Confirm Password" id="passwordConfirm" class="form-control" ng-model="user.password_confirmation" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' ">
          <p class="help-block">
            <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
          </p>
        </div>
      </div>
     
    </div>
    <!-- /tile body -->
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<div class="modal-footer">
  <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="userForm.$invalid" ng-click="updatePasswordSubmit()"><i class="fa fa-arrow-right"></i> Update</button>
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
