<form name="userForm" class="form-horizontal" submit-validate ng-submit="submitForm(userForm.$valid)" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(userForm);">
      <h1 class="custom-font"><strong>User</strong> View</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong>
        <br> {{ errorsToShow }}</p>
      </div>
      </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine, 'has-success' : userForm.firstname.$valid && !userForm.firstname.$pristine}">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" class="form-control" placeholder="First Name" ng-model="user.first_name" ng-pattern="/^[a-zA-Z]+$/" required disabled="">
          <p class="help-block">
            <span ng-show="userForm.firstname.$error.pattern">First name is invalid.</span>
            <span ng-show="userForm.firstname.$error.required && !userForm.firstname.$pristine">First name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine, 'has-success' : userForm.lastname.$valid && !userForm.lastname.$pristine}">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" class="form-control" placeholder="Last Name" ng-model="user.last_name" ng-pattern="/^[a-zA-Z]+$/" required disabled="">
          <p class="help-block" >
            <span ng-show="userForm.lastname.$error.pattern">Last name is invalid.</span>
            <span ng-show="userForm.lastname.$error.required && !userForm.firstname.$pristine">Last name is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success' : userForm.email.$valid && !userForm.email.$pristine}">
          <label for="email">Email </label>
          <input type="email" name="email" placeholder="Email" id="email" class="form-control" ng-model="user.email" required disabled="">
          <p class="help-block">
            <span ng-show="userForm.email.$error.required && !userForm.email.$pristine">Email is required.</span>
            <span ng-show="userForm.email.$error.email && !userForm.email.$pristine">Email is invalid.</span>
            <!-- <span ng-show="userForm.email.$error.server && !userForm.email.$pristine">Email is already taken.</span> -->
          </p>
        </div>
        <div class="col-sm-6">
          <label for="role">Role</label>
          <select ui-jq="chosen" name="role" ng-model="user.role.id" class="form-control" ng-options="opt.id as opt.title for opt in roles" disabled="">
            <option value="" disabled="">Select a role</option>
          </select>
        </div>
      </div>
      <!-- <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" id="password" class="form-control" ng-model="user.password" ng-minlength="8" required disabled="">
          <p class="help-block">
            <span ng-show="userForm.password.$error.required && !userForm.password.$pristine">Password is required.</span>
            <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" name="passwordConfirm" placeholder="Confirm Password" id="passwordConfirm" class="form-control" ng-model="user.password_confirmation" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' "  disabled="">
          <p class="help-block">
            <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
          </p>
        </div>
      </div> -->
      <div class="form-group">
        <div class="col-sm-6">
          <label for="branch">Branch </label>
          <select ui-jq="chosen" name="branch" ng-model="user.branch_id" class="form-control" ng-options="opt.id as opt.branch_title for opt in branches" disabled="">
            <option value="" ng-selected disabled="">Select a branch</option>
          </select>
          <p class="help-block">
            <span ng-show="userForm.branch.$error.required && !userForm.branch.$pristine">Branch is required.</span>
          </p>
        </div>
        <div class="col-sm-6">
          <label for="additionalinformation">Additional Information</label>
          <textarea class="form-control" rows="3" name="additionalinformation" id="additionalinformation" placeholder="Additional Information" ng-model="user.information" on-blur-validation  disabled=""></textarea>
          <p class="help-block">
          </p>
        </div>
      </div>
    </div>
    <!-- /tile body -->
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<div class="modal-footer">
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
