<form name="wingsForm" class="form-horizontal" ng-submit="add_wing_submit()" role="form">
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Wing</strong> Create</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong></h4>
        <br>
        <p> {{ errorsToShow }}</p>
      </div>
    </div>
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : wingsForm.name.$invalid && !wingsForm.name.$pristine, 'has-success' : wingsForm.name.$valid && !wingsForm.name.$pristine}">
          <label for="name">Name *</label>
          <input type="input" name="name" ng-pattern="/^[a-zA-Z0-9 ]+$/" class="form-control" ng-model="wing.name" required>
          <p class="help-block">
            <span ng-show="wingsForm.name.$error.pattern">Wing name is invalid.</span>
            <span ng-show="wingsForm.name.$error.required && !wingsForm.name.$pristine">Wing name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : wingsForm.branch.$invalid && !wingsForm.branch.$pristine, 'has-success' : wingsForm.branch.$valid && !wingsForm.branch.$pristine}">
          <label for="branch">Branch</label>
          <select ui-jq="chosen" name="branch" class="form-control">
            <option disabled="" value="">Select branch</option>
            <option ng-click="branch_select($index)" ng-repeat="branch in wing_branches">{{branch.branch_title}}</option>
          </select>
          <p class="help-block">
            <span ng-show="wingsForm.branch.$error.required && !wingsForm.branch.$pristine">Branch is required.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="subWingAccordian" ng-init="init_subwing()">
          <accordion-heading>
            Sub Wings <i class="pull-right fa" ng-class="{'fa-angle-down': subWingAccordian, 'fa-angle-right': !subWingAccordian}"></i>
          </accordion-heading>
          <div class="form-group">
            <div id="show-Proces">
              <table class="table table-bordered">
                <thead>
                  <th>Sub wing Title *</th>
                  <th>Description</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr ng-repeat="subwing in wing.sub_wings">
                    <td ng-class="{ 'has-error' : wingsForm.subwing{{$index}}.$invalid && !wingsForm.subwing{{$index}}.$pristine, 'has-success' : wingsForm.subwing{{$index}}.$valid && !wingsForm.subwing{{$index}}.$pristine}">
                      <input type="text" placeholder="Sub wing Title" ng-model="subwing.name" name="subwing{{$index}}" class="form-control" ng-pattern="/^[a-zA-Z0-9 ]+$/" title="Alphanumeric values only" maxlength="50" required>
                    </td>
                    <td>
                      <textarea placeholder="Description" maxlength="255" ng-model="subwing.description" name="add_infomation" cols="50" rows="3" class="form-control"></textarea>
                    </td>
                    <td>
                      <a ng-if="wing.sub_wings.length>1" ng-click="delete_row($index)" title="Delete" class="btn btn-xs btn-danger btn-perspective"> <i class="fa fa-times"> </i> </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group margin-top-10">
            <div class="col-sm-12" style="text-align:right;"> <a class="btn btn-primary fix-padding-btn btn-rounded-20" ng-click="inc_count()"><i class="fa fa-plus"></i></a> </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div class="clearfix"></div>
  </section>
  <!-- /tile -->
  <!-- tile footer -->
  <div class="modal-footer">
    <button name="saveBtn" ng-disabled="wingsForm.$invalid" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit"><i class="fa fa-arrow-right"></i> Save</button>
    <button name="cancelBtn" type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
  </div>
</form>
<!-- /tile footer -->
