<form name="wingsForm" class="form-horizontal" role="form">
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Wing</strong> Show</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong></h4>
        <br>
        <p> {{ errorsToShow }}</p>
      </div>
    </div>
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : wingsForm.name.$invalid && !wingsForm.name.$pristine, 'has-success' : wingsForm.name.$valid && !wingsForm.name.$pristine}">
          <label for="name">Name *</label>
          <input ng-disabled="true" type="input" name="name" ng-pattern="/^[a-zA-Z0-9 ]+$/" class="form-control" ng-model="wing.name" required>
          <p class="help-block">
            <span ng-show="wingsForm.name.$error.pattern">Wing name is invalid.</span>
            <span ng-show="wingsForm.name.$error.required && !userForm.permission_name.$pristine">Wing name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : wingsForm.branch.$invalid && !wingsForm.branch.$pristine, 'has-success' : wingsForm.branch.$valid && !wingsForm.branch.$pristine}">
          <label for="branch">Branch</label>
          <select ng-disabled="true" name="branch" class="form-control">
            <option disabled="" value="">Select branch</option>
            <option ng-click="branch_select($index)" ng-repeat="branch in wing_branches">{{branch.branch_title}}</option>
          </select>
          <p class="help-block">
            <!-- <span ng-show="!branch.selected">Branch is required.</span> -->
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="subWingAccordian" ng-click="init_subwing()">
          <accordion-heading>
            Sub Wings <i class="pull-right fa" ng-class="{'fa-angle-down': subWingAccordian, 'fa-angle-right': !subWingAccordian}"></i>
          </accordion-heading>
          <div class="form-group">
            <div id="show-Proces">
              <table class="table table-bordered">
                <thead>
                  <th>Sub wing Title *</th>
                  <th>Description</th>
                </thead>
                <tbody>
                  <tr ng-repeat="subwing in wing.sub_wings">
                    <td ng-class="{ 'has-error' : wingsForm.subwing{{$index}}.$invalid && !wingsForm.subwing{{$index}}.$pristine, 'has-success' : wingsForm.subwing{{$index}}.$valid && !wingsForm.subwing{{$index}}.$pristine}">
                      <input ng-disabled="true" type="text" placeholder="Sub wing Title" ng-model="subwing.name" name="subwing{{$index}}" class="form-control" ng-pattern="/^[a-zA-Z0-9 ]+$/" title="Alphanumeric values only" maxlength="50" required>
                    </td>
                    <td>
                      <textarea ng-disabled="true" placeholder="Description" maxlength="255" ng-model="subwing.description" name="add_infomation" cols="50" rows="3" class="form-control"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div class="clearfix"></div>
  </section>
  <!-- /tile -->
  <!-- tile footer -->
  <div class="modal-footer">
    <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
  </div>
</form>
<!-- /tile footer -->
