<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     <span>{{page.subtitle}}</span>
     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Academics</a></li>
      <li><a href="#">Settings</a></li>
      <li class="active">Campus</li>
    </ol>
    <div class="alert alert-success" ng-show="successNotify">
      <strong>Success! </strong>{{successNotifyValue}}.
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <!-- =========================================================-->
        <!-- Tabs-->
        <!-- =========================================================-->
        <md-content class="tabsdemoDynamicHeight">
          <md-tabs md-dynamic-height md-border-bottom>
            <!-- =========================================================-->
            <!-- School Tab-->
            <!-- =========================================================-->
            <md-tab label="School" md-on-select="show_school()">
              <md-content class="md-padding">
                <section class="tile" fullscreen="isFullscreen01">
                  <div class="tile-body">
                    <div ng-include src="'views/tmpl/academics/settings/campus/school/create.html'"></div>
                  </div>
                </section>
              </md-content>
            </md-tab>
            <!-- =========================================================-->
            <!-- Branch Tab-->
            <!-- =========================================================-->
            <md-tab label="Branch" ng-click="show_branch()">
              <md-content class="md-padding ">
                <section class="tile" fullscreen="isFullscreen01">
                  <div class="tile-body">
                    <div ng-include src="'views/tmpl/academics/settings/campus/branch/index.html'"></div>
                  </div>
                </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Wings Tab-->
            <!-- =========================================================-->
            <md-tab label="Wing" ng-click="getWings()">
              <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                  <div ng-include src="'views/tmpl/academics/settings/campus/wings/index.html'"></div>
                </div>
              </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Rooms Tab-->
            <!-- =========================================================-->
            <md-tab label="Rooms" ng-click="getClassRooms()">
              <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                  <div ng-include src="'views/tmpl/academics/settings/campus/room/index.html'"></div>
                </div>
              </section>
            </md-tab>
          </md-tabs>
          </md-content>
      </div>
    </div>
  </div>
</div>
