<form name="sessionForm" class="form-horizontal" submit-validate ng-submit="submitForm(sessionForm.$valid)" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(sessionForm);">
      <h1 class="custom-font"><strong>Session</strong> Show</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : sessionForm.name.$invalid && !sessionForm.name.$pristine, 'has-success' : sessionForm.name.$valid && !sessionForm.name.$pristine}">
          <label for="name">Name*</label>
          <input type="text" name="name" class="form-control" placeholder="Title" ng-model="session.name" ng-pattern="/^[a-zA-Z ]+$/" required disabled="">
          <p class="help-block">
            <span ng-show="sessionForm.name.$error.pattern">Name is invalid.</span>
            <span ng-show="sessionForm.name.$error.required && !sessionForm.name.$pristine">Name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : sessionForm.branch.$invalid && !sessionForm.branch.$pristine, 'has-success' : sessionForm.branch.$valid && !sessionForm.branch.$pristine}">
          <label for="branch">Branch*</label>
          <ui-select multiple ng-required="true" ng-disabled="true" name="branch" ng-model="session.selected_branches">
            <ui-select-match placeholder="Select branches...">{{$item.branch_title}}</ui-select-match>
            <ui-select-choices repeat="branch in session_branches | filter:{branch_title:$select.search}">
              {{branch.branch_title}}
            </ui-select-choices>
          </ui-select>
          <!-- <p class="help-block">
            <span ng-show="sessionForm.branch.$invalid && !sessionForm.branch.$pristine">Branch is required.</span>
          </p> -->
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : sessionForm.start_date.$invalid && !sessionForm.start_date.$pristine, 'has-success' : sessionForm.start_date.$valid && !sessionForm.start_date.$pristine}">
          <label for="start_date">Start Date *</label>
          <div class="input-group">
            <input type="text" name="start_date" class="form-control" ng-model="session.start_date" datepicker-popup="{{format}}" is-open="dp.openedStart" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="DD/MM/YYYY" required="" ng-disabled="true" />
            <span class="input-group-btn ">
                    <button type="button " class="btn btn-default " ng-click="openStart($event) " ng-disabled="true"><i class="fa fa-calendar "></i></button>
                    </span>
          </div>
          <p class="help-block ">
            <span ng-show="sessionForm.start_date.$invalid && !sessionForm.start_date.$pristine ">Start date is invalid.</span>
            <span ng-show="sessionForm.start_date.$error.required && !sessionForm.start_date.$pristine ">Start date is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : sessionForm.end_date.$invalid && !sessionForm.end_date.$pristine, 'has-success' : sessionForm.end_date.$valid && !sessionForm.end_date.$pristine}">
          <label for="end_date">End Date *</label>
          <div class="input-group">
            <input type="text" name="end_date" ng-disabled="true" class="form-control" ng-model="session.end_date" datepicker-popup="{{format}}" is-open="dp.openedEnd" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="DD/MM/YYYY" required="" />
            <span class=" input-group-btn ">
                    <button type="button " class="btn btn-default " ng-click="openEnd($event) " ng-disabled="true"><i class="fa fa-calendar "></i></button>
                    </span>
          </div>
          <p class="help-block ">
            <span ng-show="sessionForm.end_date.$invalid && !sessionForm.end_date.$pristine ">End date is invalid.</span>
            <span ng-show="sessionForm.end_date.$error.required && !sessionForm.end_date.$pristine ">End date is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-sm-6 ">
          <label for="current_session ">Current Session</label>
          <label class="checkbox checkbox-custom ">
            <input type="checkbox" ng-model="session.current_session " name="current_session " ng-disabled="true"><i></i>
          </label>
        </div>
        <div class="col-sm-6 ">
          <label for="additionalinformation ">Additional Information</label>
          <textarea class="form-control " rows="3 " name="additionalinformation " id="additionalinformation " placeholder="Additional Information " ng-model="session.additional_info " on-blur-validation ng-disabled="true"></textarea>
        </div>
      </div>
    </div>
    <!-- /tile body -->
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<div class="modal-footer ">
  <button name="cancelBtn " class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c " ng-click="dismissIt() "><i class="fa fa-arrow-left "></i> Cancel</button>
</div>
<!-- /tile footer -->
