<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Settings</a></li>
      <li><a href="#">Logs</a></li>
      <li class="active">Index</li>
    </ol>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <section class="tile">
          <form name="form" ng-submit="get_logs()" class="form-validation mt-20" novalidate>
            <div class="tile-body">
              <div class="form-group">
                <label class="col-sm-1 control-label">From</label>
                <div class="col-sm-4">
                  <div class="input-group w-md">
                    <input type="text" class="form-control underline-input" datepicker-popup="{{format}}" ng-model="start_date" is-open="opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" required>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <label class="col-sm-1 control-label">To</label>
                <div class="col-sm-4">
                  <div class="input-group w-md">
                    <input type="text" class="form-control underline-input" datepicker-popup="{{format}}" ng-model="end_date" is-open="opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" required>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div>
                  <button type="submit" ng-disabled='form.$invalid' class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" tabindex="0"><i class="fa fa-arrow-right"></i> Get Logs</button>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01" ng-if="logs && logs.length > 0">
          <div class="tile-body">
            <table ng-table="tableParams" class="table table-custom">
              <tr ng-repeat="log in $data">
                <td data-title="'Full Name'" sortable="'full_name'">
                  {{log.full_name}}</td>
                <td data-title="'Email'" sortable="'email'">
                  {{log.email}}</td>
                <td data-title="'Role'" sortable="'role_name'">
                  {{log.role_name}}</td>
                <td data-title="'Action'" sortable="'action_log'">
                  {{log.action_log}}</td>
                <td data-title="'Action'" sortable="'created_at'">
                  {{log.created_at | date:'dd/MM/yyyy @ h:mma'}}</td>
              </tr>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
