<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
      <span>{{page.subtitle}}</span>
     </h2>
    <ol class="breadcrumb">
      <!-- <li><a ui-sref="app.dashboard">Dashboard</a></li> -->
      <li><a href="#">Settings</a></li>
      <li><a ui-sref="app.settings.permissions">Permissions</a></li>
      <li class="active">Index</li>
    </ol>
    <div class="alert alert-success" ng-show="successNotify">
      <strong>Success! </strong>{{successNotifyValue}}.
    </div>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <!-- <table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" class="table table-custom"></table> -->
            <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="createPopupShow('lg')" ng-hide="menuPermissionLevel1('Settings','permission','create_access')">
              <i class="fa fa-plus"></i> Permission</button>
            <table ng-table="tableParams" class="table table-custom" show-filter="true">
              <tr ng-repeat="permission in $data">
                <td data-title="'Sr. No.'">
                  {{$index+1}}</td>
                <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                  {{permission.name}}</td>
                <td data-title="'Actions'">
                  <!-- <button type="button" class="btn btn-rounded-20 btn-danger btn-sm mr-5" style="width:30px"><i class="fa fa-times"></i></button> -->
                  <div class="row">
                    <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="prepareUpdate(permission.id, 'lg', 'update')" ng-hide="menuPermissionLevel1('Settings','permission','update_access')"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="prepareUpdate(permission.id, 'lg','view')" ng-hide="menuPermissionLevel1('Settings','permission','view_access')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
