<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="add_wing_popup_show()">
    <i class="fa fa-plus"></i> Wing</button>
<table ng-table="tableParams" class="table table-custom" show-filter="true">
    <tr ng-repeat="wing in $data">
        <td data-title="'Sr. No.'">
            {{(tableParams.page()-1)*tableParams.count() +($index+1)}}
        </td>
        <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{wing.name}}</td>
        <td data-title="'Subwing'" filter="{ sub_wing_name: 'text'}" sortable="'sub_wing_name'">
            {{wing.sub_wing_name}}</td>
        <td data-title="'Action'">
            <div class="row">
                <button type="button" ng-click="update_wing_popup_show(wing.id)" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px"><i class="fa fa-pencil" style="margin-left: -2px"></i></button>
                <button type="button" ng-click="view_wing(wing.id)" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
            </div>
        </td>
    </tr>
</table>
