<form name="roomTypeForm" class="form-horizontal" submit-validate role="form" novalidate>
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Room Type</strong> Update</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-12" ng-class="{ 'has-error' : roomTypeForm.name.$invalid && !roomTypeForm.name.$pristine, 'has-success' : roomTypeForm.name.$valid && !roomTypeForm.name.$pristine}">
          <label for="name">Type*</label>
          <input type="text" ng-model="room_type.name" name="name" maxlength="40" class="form-control" placeholder="Name" ng-pattern="/^[a-zA-Z0-9 ]+$/" required>
          <p class="help-block">
            <span ng-show="roomTypeForm.name.$error.pattern">Type name is invalid.</span>
            <span ng-show="roomTypeForm.name.$error.required && !roomTypeForm.name.$pristine">Type name is required.</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</form>
<div class="modal-footer ">
  <button name="saveBtn " class="btn btn-success btn-ef btn-ef-3 btn-ef-3c " ng-disabled="roomTypeForm.$invalid " ng-click="edit_room_type_submit() "><i class="fa fa-arrow-right "></i> Save</button>
  <button name="cancelBtn " class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c " ng-click="dismissRoomTypeEdit() "><i class="fa fa-arrow-left "></i> Cancel</button>
</div>
