<form name="roomTypeForm" class="form-horizontal" submit-validate role="form" novalidate>
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Room Type</strong> Create</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation" style="max-height:250px;overflow:auto;">
      <table class="table table-bordered" width="98%" cellspacing="0" cellpadding="5" border="0" align="center">
        <tbody>
          <tr>
            <th class="col-sm-10"><span class="WhiteHeading">Control Name</span></th>
            <th class="col-sm-2"><span class="WhiteHeading">Actions</span></th>
          </tr>
          <tr ng-repeat="class_room_type in class_room_types" bgcolor="#f8f8f8">
            <td>{{class_room_type.name}}</td>
            <td>
              <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="edit_room_type(class_room_type.id)"><i class="fa fa-pencil"></i></button>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</form>
<div class="modal-footer">
  <button name="saveBtn" ng-disabled="roomTypeForm.$invalid" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="create_room_type()" type="button"><i class="fa fa-plus"></i> Type</button>
  <button name="cancelBtn" type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissRoomTypeShow()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
