<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_txn('cp','Cash Payment')">
  <i class="fa fa-plus"></i> Cash Payment</button>
<table ng-table="tableParams2" class="table table-custom" show-filter="true">
  <tr ng-repeat="cp in $data">
    <td data-title="'Sr. No.'">
      {{(tableParams2.page()-1)*tableParams2.count() +($index+1)}}</td>
    <td data-title="'Contact'" filter="{ contact: 'text'}" sortable="'contact'">
      {{cp.contact}}</td>
    <td data-title="'Date'" filter="{ t_date: 'text'}" sortable="'t_date'">
      {{cp.t_date}}</td>
    <td data-title="'Journal'" filter="{ journal: 'text'}" sortable="'journal'">
      {{cp.journal}}</td>
    <td data-title="'Account'" filter="{ coa: 'text'}" sortable="'coa'">
      {{cp.coa}}</td>
    <td data-title="'Payment Type'" filter="{p_type: 'text'}" sortable="'p_type'">
      {{cp.p_type}}</td>
    <td data-title="'Reference'" filter="{ref_id: 'text'}" sortable="'ref_id'">
      {{cp.ref_id}}</td>
    <td data-title="'Amount'" filter="{amount: 'text'}" sortable="'amount'">
      {{cp.amount}}</td>
    <td data-title="'Action'">
      <div class="row">
        <button type="button" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px" ng-click="view_txn(cp.txn_id,2,'lg')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
      </div>
    </td>
  </tr>
</table>
