<div class="page page-core page-login">
  <div class="text-center">
    <h3 class="text-light text-white"><span class="text-lightred">M</span>anage<span class="text-lightred">W</span>ise</h3></div>
  <div class="container w-420 p-15 bg-white mt-40 text-center">
    <h2 class="text-light text-greensea">Forgot Password?</h2>
    <form name="form" class="form-validation mt-20" novalidate ng-submit="reset_password()">
      <p class="help-block text-left">
        Enter new password
      </p>
      <div class="form-group">
        <input type="password" class="form-control underline-input" placeholder="Password" ng-model="user.password" required>
        <input type="password" class="form-control underline-input" placeholder="Confirm password" ng-model="user.confirm_password" required>
      </div>
      <div class="bg-slategray lt wrap-reset mt-40 text-left">
        <p class="m-0">
          <button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='form.$invalid'>Submit</button>
          <a ui-sref="core.login" class="btn btn-lightred b-0 text-uppercase">Cancel</a>
        </p>
      </div>
    </form>
  </div>
</div>

