<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_txn('cr','Cash Receipt')">
  <i class="fa fa-plus"></i> Cash Receipt</button>
<table ng-table="tableParams1" class="table table-custom" show-filter="true">
  <tr ng-repeat="cr in $data">
    <td data-title="'Sr. No.'">
      {{(tableParams1.page()-1)*tableParams1.count() +($index+1)}}</td>
    <td data-title="'Contact'" filter="{ contact: 'text'}" sortable="'contact'">
      {{cr.contact}}</td>
    <td data-title="'Date'" filter="{ t_date: 'text'}" sortable="'t_date'">
      {{cr.t_date}}</td>
    <td data-title="'Journal'" filter="{ journal: 'text'}" sortable="'journal'">
      {{cr.journal}}</td>
    <td data-title="'Account'" filter="{ coa: 'text'}" sortable="'coa'">
      {{cr.coa}}</td>
    <td data-title="'Payment Type'" filter="{p_type: 'text'}" sortable="'p_type'">
      {{cr.p_type}}</td>
    <td data-title="'Reference'" filter="{ref_id: 'text'}" sortable="'ref_id'">
      {{cr.ref_id}}</td>
    <td data-title="'Amount'" filter="{amount: 'text'}" sortable="'amount'">
      {{cr.amount}}</td>
    <td data-title="'Action'">
      <div class="row">
        <button type="button" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px" ng-click="view_txn(cr.txn_id,1,'lg')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
      </div>
    </td>
  </tr>
</table>
