<form name="txnForm" class="form-horizontal" submit-validate ng-submit="create_txn_submit()" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(txnForm);">
      <h1 class="custom-font"><strong>{{tab_name}}</strong> Create</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
        <div class="col-sm-5">
          <label for="periods">Contact Person *</label>
          <!-- <md-autocomplete md-selected-item="contact" md-search-text-change="contactTextChange(contactText)" md-search-text="contactText" md-selected-item-change="contactChange(item)" md-items="item in querySearch()" md-autoselect="true" md-item-text="item.name" md-min-length="0" ng-required="true" placeholder="Enter Contact">
            <md-item-template>
              <span md-highlight-text="contactText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
              No matches found for "{{contactText}}".
            </md-not-found>
          </md-autocomplete> -->
          <angucomplete-alt id="ex1" placeholder=" Contact Person" pause="10" selected-object="contactChange" remote-url="http://{{subdomain}}.{{domain}}/api/contacts/ajax?user_email={{user_email}}&user_token={{user_token}}&type={{transaction.contact_type}}&query=" remote-url-data-field="contacts" search-fields="name" title-field="name" match-class="highlight" minlength="1" input-class="form-control" field-required="required"/>
        </div>
        <div class="col-sm-1">
          <button type="button" ng-click="add_contact()" class="btn btn-rounded-20 btn-primary btn-sm " style="width:30px;margin-top:25px;margin-right:25px; "><i class="fa fa-plus " style="margin-top: 4px "></i></button>
        </div>
        <div class="col-sm-6">
          <label for="parent_account">Date *</label>
          <div class="input-group">
            <input type="text" name="start" disabled class="form-control" ng-model="transaction.t_date" datepicker-popup="{{format}}" is-open="$parent.opened1" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1($event)" ><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <label for="title">Journal</label>
          <select ui-jq="chosen" name="parent_account" style="width: 100%;" ng-model="transaction.journal_id" ng-change="set_journal()" class="form-control" ng-options="journal.id as journal.name for journal in filtered_journals">
            <option value="" ng-selected disabled="" required>Select Journal</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="parent_account">Account *</label>
          <angucomplete-alt id="ex2" placeholder=" Account" pause="10" selected-object="accountChange" remote-url="http://{{subdomain}}.{{domain}}/api/chart_of_accounts/ajax?user_email={{user_email}}&user_token={{user_token}}&query=" remote-url-data-field="chart_of_accounts" search-fields="title" title-field="title" match-class="highlight" minlength="1" input-class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
              <tr>
                <th class="col-sm-1"> <span class="class-sending">Description</span></th>
                <th class="col-sm-1"><span class="class-sending">Cash Account Name *</span></th>
                <th class="col-sm-1"><span class="class-sending">Payment Type *</span></th>
                <th class="col-sm-1"><span class="class-sending">Reference no.</span></th>
                <th class="col-sm-1"><span class="class-sending">Document Date</span></th>
                <th class="col-sm-1"><span class="class-sending">Service Charges</span></th>
                <th class="col-sm-1"><span class="class-sending">Amount *</span></th>
                <th class="col-sm-1"><span class="class-sending">Attachment</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" ng-model="transaction.desc" class="form-control">
                </td>
                <td>
                  <select class="form-control" name="type" chosen ng-model="transaction.chart_of_account_id" style="width: 100%" ng-required="true" ng-options="coa.coa_id as coa.title for coa in filtered_coas" ng-disabled="disable" ng-required="true">
                    <option value="" disabled="">Select Cash Account</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" name="type" chosen ng-options="p_type.value as p_type.name for p_type in p_types" ng-model="transaction.p_type" style="width: 100%" ng-required="true">
                    <option value="" disabled="">Select Payment Type</option>
                  </select>
                </td>
                <td>
                  <input type="text" ng-model="transaction.ref_id" class="form-control">
                </td>
                <td>
                  <div class="input-group">
                    <input type="text" name="start" disabled class="form-control" ng-model="transaction.doc_date" datepicker-popup="{{format}}" is-open="$parent.opened2" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" />
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open2($event)" ><i class="fa fa-calendar"></i></button></span>
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="transaction.service_charges">
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="transaction.amount" ng-required="true">
                </td>
                <td>
                  <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                    buttonText: '',
                    iconName: 'fa fa-inbox'
                  }" nv-file-select="" uploader="uploader">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="txnForm.$invalid || !transaction.contact_id || !transaction.cash_coa_id " ng-click="create_coa_submit()"><i class="fa fa-arrow-right"></i> Save</button>
      <button name="cancelBtn" type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
    </div>
    </div>
    <!-- /tile body -->
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<!-- /tile footer -->
