<form name="txnForm" class="form-horizontal" submit-validate ng-submit="create_mj_submit()" role="form" novalidate>
    <!-- tile -->
    <section class="tile noBottom" fullscreen="isFullscreen01">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm" ng-init="setForm(txnForm);">
            <h1 class="custom-font"><strong>{{tab_name}}</strong> Create</h1>
        </div>
        <div ng-show="isError">
            <div class="alert alert-lightred alert-dismissable fade in">
                <h4><strong>Error</strong></h4>
                <br>
                <p> {{ errorsToShow }}</p>
            </div>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body form-validation">
            <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
            <div class="form-group">
                <div class="col-sm-6" ng-class="{ 'has-error' : txnForm.narration.$invalid && !txnForm.narration.$pristine, 'has-success' : txnForm.narration.$valid && !txnForm.narration.$pristine}">
                    <label for="narration">Narration *</label>
                    <input type="text" name="narration" placeholder="narration" class="form-control" ng-model="mj.narration" required>
                    <p class="help-block">
                        <span ng-show="txnForm.narration.$error.required && !txnForm.narration.$pristine">Narration is required.</span>
                    </p>
                </div>
                <div class="col-sm-6">
                    <label for="parent_account">Transaction Date *</label>
                    <div class="input-group">
                        <input type="text" name="start" disabled class="form-control" ng-model="mj.t_date" datepicker-popup="{{format}}" is-open="$parent.openedTDate" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" ng-required="true" />
                        <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openTDate($event)" ><i class="fa fa-calendar"></i></button>
            </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div style="float: right;">
                        <label> Status:</label> {{status}}
                    </div>
                    <table class="table table-bordered table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1"><span class="class-sending">Ref no.</span></th>
                                <th class="col-sm-1"> <span class="class-sending">Description</span></th>
                                <th class="col-sm-1"><span class="class-sending">Dr/Cr *</span></th>
                                <th class="col-sm-1"><span class="class-sending">Con. Type</span></th>
                                <th class="col-sm-1"><span class="class-sending">Contact</span><a style="margin-left:10px" href="" ng-click="add_contact()"><i class="fa fa-plus" style="margin-left: -2px"></i></a></th>
                                <th class="col-sm-1"><span class="class-sending">Journal</span></th>
                                <th class="col-sm-1"><span class="class-sending">Account *</span></th>
                                <th class="col-sm-1"><span class="class-sending">Posting Date *</span></th>
                                <th class="col-sm-1"><span class="class-sending">Amount *</span></th>
                                <th class="col-sm-1"><span class="class-sending">Attachment</span></th>
                                <th class="col-sm-1"><span class="class-sending">Action</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transaction in transactions">
                                <td>
                                    <input type="text" ng-model="transaction.ref_id" class="form-control" placeholder="Ref #">
                                </td>
                                <td>
                                    <input type="text" ng-model="transaction.desc" class="form-control" placeholder="Description">
                                </td>
                                <td>
                                    <select class="form-control" name="type" chosen ng-model="transaction.transaction_type" ng-change="calc_cr_dr($index)" style="width: 100%" ng-required="true" ng-required="true">
                                        <option value="" disabled="">Select Type</option>
                                        <option value="Debit" selected>Debit</option>
                                        <option value="Credit">Credit</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" name="type" ng-model="transaction.contact_type" style="width: 100%" ng-change="resetContact($index)">
                                        <option value="" disabled="">Select Contact Type</option>
                                        <option value="customer" selected>Customer</option>
                                        <option value="supplier">Supplier</option>
                                    </select>
                                </td>
                                <td>
                                    <angucomplete-alt id="ex{{$index}}" placeholder=" Contact Person" pause="10" selected-object="contactChangeMj" focus-in="setIndex($index)" remote-url="http://{{subdomain}}.{{domain}}/api/contacts/ajax?user_email={{user_email}}&user_token={{user_token}}&type={{transaction.contact_type}}&query=" remote-url-data-field="contacts" search-fields="name" title-field="name" match-class="highlight" minlength="1" input-class="form-control" disable-input="transaction.contact_type != 'customer' &&   transaction.contact_type != 'supplier'" />
                                    <!--                   <md-autocomplete md-selected-item="contact" ng-disabled="transaction.contact_type != 'customer' &&   transaction.contact_type != 'supplier'" md-search-text-change="contactTextChange(transaction.contactText,$index)" md-search-text="transaction.contactText" md-selected-item-change="contactChange(item,$index)" md-items="item in querySearch()" md-autoselect="true" md-item-text="item.name" md-min-length="0" placeholder="Enter Contact">
                    <md-item-template>
                      <span md-highlight-text="transaction.contactText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No matches found for "{{transaction.contactText}}".
                    </md-not-found>
                  </md-autocomplete> -->
                                </td>
                                <td>
                                    <select class="form-control" ng-model="transaction.journal_id" ng-change="set_manual_journal($index)">
                                        <option value="0">Select</option>
                                        <option ng-repeat="journal in journals" value="{{journal.id}}">{{journal.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="transaction.chart_of_account_id" ng-options="coa.coa_id as coa.title for coa in coas" ng-disabled="disable_coa[$index]" required>
                                        <option value="" disabled="">Select</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="start" disabled class="form-control" ng-model="transaction.doc_date" datepicker-popup="{{format}}" is-open="transaction.postingDateValue" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" ng-required="true" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="postingDate($event,$index)" ><i class="fa fa-calendar"></i></button></span>
                                    </div>
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-model="transaction.amount" ng-required="true" ng-change="calc_cr_dr($index)">
                                </td>
                                <td>
                                    <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                    buttonText: '',
                    iconName: 'fa fa-inbox'
                  }" nv-file-select="" uploader="uploaders[$index]">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-rounded-20 btn-danger btn-sm" style="width:30px" ng-click="delete_row($index)" ng-if="transactions.length > 1"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="float: right;">
                        <button type="button" ng-click="inc_count()" class="btn btn-rounded-20 btn-primary btn-sm" style="margin-top:20px;"><i class="fa fa-plus " style="margin-top: 4px "></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled='status === "Unbalanced" || txnForm.$invalid'><i class="fa fa-arrow-right"></i> Submit</button>
            <button name="cancelBtn" type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
        </div>
        <!-- /tile body -->
    </section>
    <!-- /tile -->
</form>
<!-- tile footer -->
<!-- /tile footer -->
