<!-- tile -->
<section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>View</strong> Transaction</h1>
    </div>
    <!-- /tile header -->
    <div class="table-responsive scrollable-table">
        <table class="table table-bordered table-striped table-condensed table-hover lg-table">
            <thead>
                <tr>
                    <th class="box-lg">Reference #</th>
                    <th class="box-md">Date</th>
                    <th class="box-lg">Contact</th>
                    <th class="box-md">Journal</th>
                    <th class="box-sm">Txn Type</th>
                    <th class="box-xl">COA</th>
                    <th class="box-sm">Payment Type</th>
                    <th class="box-xl">Description</th>
                    <th class="box-md">Document Date</th>
                    <th class="box-md">Service charges </th>
                    <th class="box-md">Amount*</th>
                    <th class="box-lg">Attachment </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in txns|orderBy: 'id'">
                    <td>
                        <input disabled="" type="text" class="form-control numbersonly" placeholder="Reference #" ng-model="transaction.ref_id">
                    </td>
                    <td>
                        <input disabled="" type="text" class="form-control" placeholder="Date" ng-model="transaction.t_date">
                    </td>
                    <td>
                        <input disabled="" type="text" class="form-control" placeholder="Contact" ng-model="transaction.contact">
                    </td>
                    <td>
                        <input disabled="" type="text " class="form-control " placeholder="Journal " ng-model="transaction.journal ">
                    </td>
                    <td>
                        <input disabled="" type="text " class="form-control " placeholder="Journal " ng-model="transaction.transaction_type ">
                    </td>
                    <td>
                        <select disabled="" class="form-control sapce-dropdown" ng-model="transaction.chart_of_account_id" ng-options="coa.coa_id as coa.title for coa in coas">
                            <option value="" disabled="">Select</option>
                        </select>
                    </td>
                    <td class="col-sm-1 ">
                        <select disabled="" class="form-control sapce-dropdown" ng-model="transaction.p_type">
                            <option value="" disabled="">Select</option>
                            <option value="cash">Cash</option>
                            <option value="promissory">Promissory Note</option>
                            <option value="cross_cheque">Cross Cheque</option>
                            <option value="cash_heque">Cash Cheque</option>
                            <option value="demand_draft">Demand Draft</option>
                            <option value="pay_order">Pay Order</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                    <td>
                        <input disabled="" type="text" class="form-control" placeholder="Description" ng-model="transaction.desc">
                    </td>
                    <td>
                        <input disabled="" type="text" class="form-control datetimepicker" placeholder="Document Date"  data-date="02-2015" data-date-format="YYYY/MM/DD" name="date " ng-model="transaction.doc_date ">
                    </td>
                    <td>
                        <input disabled="" type="text " class="form-control numbersonly " placeholder="Services Charges " ng-model="transaction.service_charges ">
                    </td>
                    <td>
                        <input disabled="" type="text " class="form-control numbersonly " placeholder="Amount " ng-model="transaction.amount ">
                    </td>
                    <td>
                        <input disabled="" type="text " class="form-control numbersonly " placeholder="Attachment " ng-model="transaction.file_name">
                        <span class="help-block" style="float:right;" ng-if="transaction.file_name.length > 0"><a ng-href='http://{{subdomain}}.{{domain}}/{{transaction.file_url}}' download>Download</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- /tile -->
<!-- tile footer -->
<div class="modal-footer">
    <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
