<div class="col-md-12">
    <form name="userForm">
        <div class="form-group">
            <div class="col-sm-6" ng-class="{ 'has-error' : userForm.permission_name.$invalid && !userForm.permission_name.$pristine, 'has-success' : userForm.permission_name.$valid && !userForm.permission_name.$pristine}">
                <label for="permission_name">Permission Name</label>
                <input type="text" placeholder="Permission Name" class="form-control lettersonly" maxlength="20" name="permission_name" required="" ng-model="permissionToAdd.name" ng-pattern="/^[a-zA-Z]+$/" required>
                <p class="help-block">
                    <span ng-show="userForm.permission_name.$error.pattern">Permission name is invalid.</span>
                    <span ng-show="userForm.permission_name.$error.required && !userForm.permission_name.$pristine">Permission name is required.</span>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <accordion close-others="oneAtATime">
            <accordion-group is-open="permissionName.isOpen" ng-repeat="permissionName in permissionNames">
                <accordion-heading>
                    {{permissionName.name}} <i class="pull-right fa" ng-class="{'fa-angle-down': permissionName.isOpen, 'fa-angle-right': !permissionName.isOpen}"></i>
                </accordion-heading>
                <div class="form-group">
                    <div id="show-Proces">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                    </td>
                                    <td ng-repeat="permissionAction in permissionActions">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" ng-model="groupActionPermissions[permissionName.name+'#'+permissionAction]" ng-click="toggleActionForAll(permissionName.name, $parent.$index ,permissionAction)"><i></i>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-1">Permission Name</td>
                                    <td class="col-sm-1">Create</td>
                                    <td class="col-sm-1">Destroy</td>
                                    <td class="col-sm-1">Update</td>
                                    <td class="col-sm-1">Show</td>
                                    <td class="col-sm-1">Index</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="permissionEntry in permissionData[$index].nested_permission_module">
                                    <td>{{permissionEntry.name}}
                                    </td>
                                    <td ng-repeat="permissionAction in permissionActions">
                                        <label class="checkbox checkbox-custom">
                                            <input type="checkbox" ng-model="allPermissions[permissionName.name+'#'+permissionEntry.name+'#'+permissionAction]" ng-click="printAllPermissions()"><i></i>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </form>
</div>
<div class="modal-footer">
    <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="userForm.$invalid" ng-click="savePermission()"><i class="fa fa-arrow-right"></i> Save</button>
    <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<div class="clearfix"> </div>
