<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_mj('lg')">
    <i class="fa fa-plus"></i> Manual Journal</button>
<table ng-table="tableParams3" class="table table-custom" show-filter="true">
    <tr ng-repeat="mj in $data">
        <td data-title="'Sr. No.'">
            {{(tableParams3.page()-1)*tableParams3.count() +($index+1)}}</td>
        <td data-title="'Narration'" filter="{ narration: 'text'}" sortable="'narration'">
            {{mj.narration}}</td>
        <td data-title="'Date'" filter="{ t_date: 'text'}" sortable="'t_date'">
            {{mj.t_date}}</td>
        <td data-title="'Journal'" filter="{ journal: 'text'}" sortable="'journal'">
            {{mj.journal}}</td>
        <td data-title="'Account'" filter="{ coa: 'text'}" sortable="'coa'">
            {{mj.coa}}</td>
        <td data-title="'Posting Date'" filter="{created_at: 'text'}" sortable="'created_at'">
            {{mj.created_at}}</td>
        <td data-title="'Dr/Cr'" filter="{transaction_type: 'text'}" sortable="'transaction_type'">
            {{mj.transaction_type}}</td>
        <td data-title="'Amount'" filter="{amount: 'text'}" sortable="'amount'">
            {{mj.amount}}</td>
        <td data-title="'Action'">
            <div class="row">
                <button type="button" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px" ng-click="view_txn(mj.txn_id,3,'lg')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
            </div>
        </td>
    </tr>
</table>
