<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>// {{page.subtitle}}</span>

     </h2>
    <!-- <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Tables</a>
        </li>
        <li>
          <a ui-sref="app.tables.datatables">{{page.title}}</a>
        </li>
      </ul>
    </div> -->
    <ol class="breadcrumb">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Users</a></li>
      <li class="active">Index</li>
    </ol>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10">
          <i class="fa fa-plus"></i> Add </button>
      </div>
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <!-- <div class="tile-header dvd dvd-btm">
  <h1 class="custom-font"><strong>Basic</strong> Usage</h1>
  <div class="note"><strong>including:</strong> multi-column sorting, row select and colReorder</div>
  <ul class="controls">
    <li class="dropdown" dropdown on-toggle="toggled(open)">
      <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
      <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
        <li>
          <a href tile-control-toggle>
            <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
            <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
          </a>
        </li>
        <li>
          <a href tile-control-refresh ng-click="ajaxFaker()">
            <fa name="refresh"></fa> Refresh
          </a>
        </li>
        <li>
          <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
            <fa name="expand"></fa> Fullscreen
          </a>
        </li>
      </ul>
    </li>
    <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
  </ul>
</div>
 -->
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body" ng-controller="UserDatatableCtrl as showcase">
            <!-- <table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" class="table table-custom"></table> -->
            <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10">
              <i class="fa fa-plus"></i> User</button>
            <table ng-table="tableParams" class="table table-custom" show-filter="true">
              <tr ng-repeat="user in $data">
                <td data-title="'First Name'" filter="{ first_name: 'text'}" sortable="'first_name'">
                  {{user.first_name}}</td>
                <td data-title="'Last Name'" filter="{ last_name: 'text'}" sortable="'last_name'">
                  {{user.last_name}}</td>
                <td data-title="'Role'" filter="{'role.name': 'text'}" sortable="'role.name'">
                  {{user.role.name}}</td>
                <td data-title="'Email'" filter="{email: 'text'}" sortable="'email'">
                  {{user.email}}</td>
                <td data-title="'Actions'">
                  <!-- <button type="button" class="btn btn-rounded-20 btn-danger btn-sm mr-5" style="width:30px"><i class="fa fa-times"></i></button> -->
                  <button type="button" class="btn btn-rounded-20 btn-success btn-sm mr-5" style="width:30px"><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
                </td>
              </tr>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
