<div class="form-group">
  <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.company_name.$invalid && !contactSettingsForm.company_name.$pristine, 'has-success' : contactSettingsForm.company_name.$valid && !contactSettingsForm.company_name.$pristine}">
    <label for="company_name">Company Name *</label>
    <input type="input" name="company_name" placeholder="Company Name" id="company_name" class="form-control" ng-model="contact.company_name" required ng-disabled="contact_view">
    <p class="help-block">
      <span ng-show="contactSettingsForm.company_name.$error.required && !contactSettingsForm.company_name.$pristine">Company Name is required.</span>
    </p>
  </div>
  <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.company_legal_name.$invalid && !contactSettingsForm.company_legal_name.$pristine, 'has-success' : contactSettingsForm.company_legal_name.$valid && !contactSettingsForm.company_legal_name.$pristine}">
    <label for="company_legal_name">Company Legal Name</label>
    <input type="input" name="company_legal_name" placeholder="Company Legal Name" id="company_legal_name" class="form-control" ng-model="contact.company_legal_name" ng-disabled="contact_view">
    <p class="help-block">
      <span ng-show="contactSettingsForm.company_legal_name.$error.required && !contactSettingsForm.company_legal_name.$pristine">company Legal Name is required.</span>
    </p>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.person_first_name.$invalid && !contactSettingsForm.person_first_name.$pristine, 'has-success' : contactSettingsForm.person_first_name.$valid && !contactSettingsForm.person_first_name.$pristine}">
    <label for="person_first_name">Person First Name </label>
    <input type="input" name="person_first_name" placeholder="First Name" id="person_first_name" class="form-control" ng-model="contact.person_f_name" ng-disabled="contact_view">
  </div>
  <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.person_last_name.$invalid && !contactSettingsForm.person_last_name.$pristine, 'has-success' : contactSettingsForm.person_last_name.$valid && !contactSettingsForm.person_last_name.$pristine}">
    <label for="person_last_name">Person Last Name</label>
    <input type="input" name="person_last_name" placeholder="Last Name" id="person_last_name" class="form-control" ng-model="contact.person_l_name" ng-disabled="contact_view">
    <p class="help-block">
    </p>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-6" ng-class="{  'has-success' : contactSettingsForm.person_code.length>0}">
    <label for="person_code">Person Code</label>
    <input type="input" name="person_code" placeholder="Person Code" id="person_code" class="form-control" ng-model="contact.person_code" only-digits ng-disabled="contact_view">
  </div>
</div>
