<div class="form-group">
    <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.person_first_name.$invalid && !contactSettingsForm.person_first_name.$pristine, 'has-success' : contactSettingsForm.person_first_name.$valid && !contactSettingsForm.person_first_name.$pristine}">
        <label for="person_first_name">Person First Name *</label>
        <input type="input" name="person_first_name" placeholder="First Name" id="person_first_name" class="form-control" ng-model="contact.person_f_name" required ng-disabled="contact_view">
        <p class="help-block">
            <span ng-show="contactSettingsForm.person_first_name.$error.required && !contactSettingsForm.person_first_name.$pristine">Person First Name is required.</span>
        </p>
    </div>
    <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.person_last_name.$invalid && !contactSettingsForm.person_last_name.$pristine, 'has-success' : contactSettingsForm.person_last_name.$valid && !contactSettingsForm.person_last_name.$pristine}">
        <label for="person_last_name">Person Last Name</label>
        <input type="input" name="person_last_name" placeholder="Last Name" id="person_last_name" class="form-control" ng-model="contact.person_l_name" ng-disabled="contact_view">
        <p class="help-block">
        </p>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.company_name.$invalid && !contactSettingsForm.company_name.$pristine, 'has-success' : contactSettingsForm.company_name.$valid && !contactSettingsForm.company_name.$pristine}">
        <label for="company_name">Company Name</label>
        <input type="input" name="company_name" placeholder="Last Name" id="company_name" class="form-control" ng-model="contact.company_name" ng-disabled="contact_view">
        <p class="help-block">
            <span ng-show="contactSettingsForm.company_name.$error.required && !contactSettingsForm.company_name.$pristine">Company Name is required.</span>
        </p>
    </div>
</div>
