<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>{{page.subtitle}}</span>

     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Accounts</a></li>
      <li class="active">Transaction</li>
    </ol>
    <div class="alert alert-success" ng-show="successNotify">
      <strong>Success! </strong>{{successNotifyValue}}.
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <!-- =========================================================-->
        <!-- Tabs-->
        <!-- =========================================================-->
        <md-content class="tabsdemoDynamicHeight">
          <md-tabs md-dynamic-height md-border-bottom>
            <!-- =========================================================-->
            <!-- Cash Reciept Tab-->
            <!-- =========================================================-->
            <md-tab label="Cash Reciepts" ng-click="load_data(1,1)">
              <md-content class="md-padding">
                <section class="tile" fullscreen="isFullscreen01">
                  <div class="tile-body">
                    <div ng-include src="'views/tmpl/finance/accounts/transaction/cash_reciept/index.html'"></div>
                  </div>
                </section>
              </md-content>
            </md-tab>
            <!-- =========================================================-->
            <!-- Cash Payments Tab-->
            <!-- =========================================================-->
            <md-tab label="Cash Payments" ng-click="load_data(2,1)">
              <md-content class="md-padding ">
                <section class="tile" fullscreen="isFullscreen01">
                  <div class="tile-body">
                    <div ng-include src="'views/tmpl/finance/accounts/transaction/cash_payments/index.html'"></div>
                  </div>
                </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Manual Journal Tab-->
            <!-- =========================================================-->
            <md-tab label="Manual Journal" ng-click="load_data(3,1)">
              <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                  <div ng-include src="'views/tmpl/finance/accounts/transaction/manual_journal/index.html'"></div>
                </div>
              </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Bank Reciepts Tab-->
            <!-- =========================================================-->
            <md-tab label="Bank Reciepts" ng-click="load_data(4,1)">
              <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                  <div ng-include src="'views/tmpl/finance/accounts/transaction/bank_reciepts/index.html'"></div>
                </div>
              </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Bank Payment Tab-->
            <!-- =========================================================-->
            <md-tab label="Bank Payment" ng-click="load_data(5,1)">
              <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                  <div ng-include src="'views/tmpl/finance/accounts/transaction/bank_payment/index.html'"></div>
                </div>
              </section>
            </md-tab>
          </md-tabs>
          </md-content>
      </div>
    </div>
  </div>
