<form name="branchTypeForm" class="form-horizontal" submit-validate role="form" novalidate>
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(branchTypeForm);">
      <h1 class="custom-font"><strong>Branch Type</strong> Create</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-12" ng-class="{ 'has-error' : branchTypeForm.name.$invalid && !branchTypeForm.name.$pristine, 'has-success' : branchTypeForm.name.$valid && !branchTypeForm.name.$pristine}">
          <label for="name">Type*</label>
          <input type="text" ng-model="branch_type.branch_type" name="name" maxlength="40" class="form-control" placeholder="Name" ng-pattern="/^[a-zA-Z ]+$/" required>
          <p class="help-block">
            <span ng-show="branchTypeForm.name.$error.pattern">Type name is invalid.</span>
            <span ng-show="branchTypeForm.name.$error.required && !branchTypeForm.name.$pristine">Type name is required.</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</form>
<div class="modal-footer ">
  <button name="saveBtn " class="btn btn-success btn-ef btn-ef-3 btn-ef-3c " ng-disabled="branchTypeForm.$invalid " ng-click="create_branch_type_submit() "><i class="fa fa-arrow-right "></i> Save</button>
  <button name="cancelBtn " class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c " ng-click="dismissBranchCreate() "><i class="fa fa-arrow-left "></i> Cancel</button>
</div>
