<div class="tile-body">
  <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_session('lg')" ng-hide="menuPermissionLevel3('Academics','academics_settings','academic_setting','session','create_access')">
    <i class="fa fa-plus"></i> Session</button>
  <table ng-table="tableParams" class="table table-custom" show-filter="true">
    <tr ng-repeat="session in $data">
      <td data-title="'Sr. No.'">
        {{(tableParams.page()-1)*tableParams.count() +($index+1)}}</td>
      <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
        {{session.name}}</td>
      <td data-title="'Start'" filter="{ start_date: 'text'}" sortable="'start_date'">
        {{session.start_date}}</td>
      <td data-title="'End'" filter="{ end_date: 'text'}" sortable="'end_date'">
        {{session.end_date}}</td>
      <td data-title="'Current Session'" filter="{current_session: 'text'}" sortable="'current_session'">
        {{session.current_session}}</td>
      <td data-title="'Actions'">
        <div class="row">
          <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="update_session(session.id, 'lg')" ng-hide="menuPermissionLevel3('Academics','academics_settings','academic_setting','session','update_access')"><i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="view_session(session.id, 'lg')" ng-hide="menuPermissionLevel3('Academics','academics_settings','academic_setting','session','view_access')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
        </div>
      </td>
    </tr>
  </table>
</div>
