<form name="coaForm" class="form-horizontal" submit-validate ng-submit="submitForm(coaForm.$valid)" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(coaForm);">
      <h1 class="custom-font"><strong>Charts of Account</strong> Update</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong>
        <br> {{ errorsToShow }}</p>
      </div>
      </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.title.$invalid && !coaForm.title.$pristine, 'has-success' : coaForm.title.$valid && !coaForm.title.$pristine}">
          <label for="title">Name*</label>
          <input type="text" name="title" class="form-control" placeholder="Name" ng-model="coa.title" ng-pattern="/^[a-zA-Z ]+$/" required>
          <p class="help-block">
            <span ng-show="coaForm.title.$error.pattern && !coaForm.title.$pristine">Name is invalid.</span>
            <span ng-show="coaForm.title.$error.required && !coaForm.title.$pristine">Name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.parent_account.$invalid && !coaForm.parent_account.$pristine, 'has-success' : coaForm.parent_account.$valid && !coaForm.parent_account.$pristine}">
          
          <label for="parent_account">Parent Account*</label>
          <select ui-jq="chosen" name="parent_account" ng-model="coa.parent_account_id" ng-change="set_code()"  class="form-control" ng-options="p_account.coa_id as p_account.title for p_account in parent_accounts">
            <option value="" ng-selected disabled="" required>Select parent account</option>
          </select>
          <!-- <span class="bank-popap bank-popup-setting" ng-if='show_bank' ng-click="add_bank()">Bank <i class="fa fa-plus plus-optoin"  style="float:right;"></i></span> -->
          <span ng-if='show_bank' >
          <label for="bank">Bank</label>
          <span name="bank" ng-click="edit_bank('lg')" style="width:30px;margin-top:1px; "><i class="fa fa-plus"></i></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.code.$invalid && !coaForm.code.$pristine, 'has-success' : coaForm.code.$valid && !coaForm.code.$pristine}">
          <label for="code">Code* {{coa.code1}}</label>

          <input ng-if="parent.level >= 2" type="number" required="" ng-model="coa.code2" name="code" min="1" max="999" class="form-control" placeholder="Code">
        <input ng-if="!parent || parent.level < 2" type="number" required="" ng-model="coa.code2" name="code" min="1" max="99" class="form-control" placeholder="Code">


          
          <p class="help-block">
            <span ng-show="coaForm.code.$error.required && !coaForm.code.$pristine">Code is required.</span>
            <span ng-show="!coaForm.code.$valid && !coaForm.code.$pristine">Code is invalid.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.category.$invalid && !coaForm.category.$pristine, 'has-success' : coaForm.category.$valid && !coaForm.category.$pristine}">
          <label for="category">Category<span class="help-blockss">*</span> </label>
          <select ui-jq="chosen" class="form-control" required ng-options="type.id as type.name for type in account_types" ng-model="coa.account_type_id" name="category">
          <option value="" ng-selected disabled="">Select category</option>
        </select>
          <p class="help-block">
            <span ng-show="coaForm.category.$error.required && !coaForm.category.$pristine">Category is required.</span>
          </p>
        </div>
      </div>
      

<div class="form-group">
    <div class="col-sm-6">
      
      <label for="leaf_level">Leaf level</label>
  
      <div class="onoffswitch labeled blue">
                    <input type="checkbox" name="leaf_level" ng-disabled="disable_leaf == true" class="onoffswitch-checkbox" id="leaf_level" ng-model="coa.leaf_level_status">
                    <label class="onoffswitch-label" for="leaf_level">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>


     
    </div>
    <div class="col-sm-6">
    


      <label for="active">Active</label>
      <div class="onoffswitch labeled blue">
                    <input type="checkbox" name="active" class="onoffswitch-checkbox" id="active" ng-model="coa.active_status">
                    <label class="onoffswitch-label" for="active">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
    </div>
  </div>

      <div class="form-group">
        
        <div class="col-sm-6">
          <label for="additionalinformation">Additional Information</label>
          <textarea class="form-control" rows="3" name="additionalinformation" id="additionalinformation" placeholder="Additional Information" ng-model="coa.desc" on-blur-validation></textarea>
          <p class="help-block">
          </p>
        </div>
      </div>
    </div>
    <!-- /tile body -->
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<div class="modal-footer">
  <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="coaForm.$invalid" ng-click="edit_coa_submit()"><i class="fa fa-arrow-right"></i> Save</button>
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
