<form name="contactSettingsForm" class="form-horizontal" role="form">
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Add</strong> Settings</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong></h4>
        <br>
        <p> {{ errorsToShow }}</p>
      </div>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-6">
          <label for="c_type">Contact Type *</label>
          <select name="c_type" class="form-control" ng-model="contact.c_type" ng-change="change_contact_c_type(c_type)" ng-options="t.value as t.name for t in contact_types" ng-disabled="contact_view">
            <option value="" disabled="">Select Contact type</option>
          </select>
        </div>
        <div class="col-sm-6 " ng-show="!contact_update">
          <label for="category" class="control-label">Category *</label>
          <div class="form-inline">
            <label class="checkbox checkbox-custom">
              <input ng-disabled="contact_view" type="checkbox" ng-model="contact.supplier"><i></i> Supplier </label>
            <label class="checkbox checkbox-custom">
              <input ng-disabled="contact_view" type="checkbox" ng-model="contact.customer"><i></i> Customer </label>
          </div>
        </div>
      </div>
      <div class="form-group" ng-show="hide">
        <div class="person-select" ng-if="contact.c_type == 2">
          <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.person_first_name.$invalid && !contactSettingsForm.person_first_name.$pristine, 'has-success' : contactSettingsForm.person_first_name.$valid && !contactSettingsForm.person_first_name.$pristine}">
            <label for="person_first_name">Person First Name *</label>
            <input type="input" name="person_first_name" placeholder="First Name" id="person_first_name" class="form-control" ng-model="contact.person_f_name" required>
            <p class="help-block">
              <span ng-show="contactSettingsForm.person_first_name.$error.required && !contactSettingsForm.person_first_name.$pristine">First Name is required.</span>
            </p>
          </div>
        </div>
        <div class="comp-select" ng-if="contact.c_type == 1">
          <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.company_name.$invalid && !contactSettingsForm.company_name.$pristine, 'has-success' : contactSettingsForm.company_name.$valid && !contactSettingsForm.company_name.$pristine}">
            <label for="company_name">Company Name *</label>
            <input type="input" name="company_name" placeholder="Company Name" id="company_name" class="form-control" ng-model="contact.company_name" required>
            <p class="help-block">
              <span ng-show="contactSettingsForm.company_name.$error.required && !contactSettingsForm.company_name.$pristine">Company Name is required.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
<div class="modal-footer">
  <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="contactSettingsForm.$invalid || !isCategorySelected()" ng-click="create_contact_submit()"><i class="fa fa-arrow-right"></i> Create</button>
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissContact()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
