<form name="contactSettingsForm" class="form-horizontal" role="form">
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Show</strong> Contact</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong></h4>
        <br>
        <p> {{ errorsToShow }}</p>
      </div>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-6">
          <label for="c_type">Contact Type *</label>
          <select name="c_type" class="form-control" ng-model="c_type" ng-change="change_contact_c_type(c_type)" ng-options="t.name for t in contact_types" ng-disabled="contact_view">
          </select>
        </div>
        <div class="col-sm-6 " ng-show="!contact_update">
          <label for="category" class="control-label">Category *</label>
          <div class="form-inline">
            <label class="checkbox checkbox-custom">
              <input ng-disabled="contact_view" type="checkbox" ng-model="contact.supplier"><i></i> Supplier </label>
            <label class="checkbox checkbox-custom">
              <input ng-disabled="contact_view" type="checkbox" ng-model="contact.customer"><i></i> Customer </label>
          </div>
        </div>
      </div>
      <div ng-include="c_type.url"></div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{  'has-success' : contactSettingsForm.mobile.length>0}">
          <label for="mobile">Mobile Number</label>
          <input type="input" name="mobile" id="mobile" class="form-control" ng-model="contact.mobile" ui-mask="(999) 999-99999" ng-disabled="contact_view">
        </div>
        <div class="col-sm-6" ng-class="{  'has-success' : contact.phone.length>0}">
          <label for="phone">Phone Number</label>
          <input type="input" name="phone" ui-mask="(999) 999-99999" id="phone" class="form-control" ng-model="contact.phone" ng-disabled="contact_view">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.email.$invalid && !contactSettingsForm.email.$pristine, 'has-success' : contactSettingsForm.email.$valid && !contactSettingsForm.email.$pristine}">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email" id="email" class="form-control" ng-model="contact.email" ng-disabled="contact_view">
          <p class="help-block">
            <span ng-show="contactSettingsForm.email.$invalid">Enter valid email address.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.website.$invalid && !contactSettingsForm.website.$pristine, 'has-success' : contactSettingsForm.website.$valid && !contactSettingsForm.website.$pristine}">
          <label for="website">Website</label>
          <input type="input" name="website" placeholder="Website" id="website" class="form-control" ng-model="contact.website" ng-disabled="contact_view">
          <p class="help-block">
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 ">
          <label for="country">Country</label>
          <select ui-jq="chosen" ng-disabled="true" name="country" class="form-control chosen" ng-model="contact.country" ng-change="get_cities()" ng-options="country.code as country.name for country in countries">
            <option value="" disabled>select country </option>
          </select>
        </div>
        <div class="col-sm-6" ng-show='contact.country ==="PK"' ng-class="{ 'has-error' : contactSettingsForm.province.$invalid &&   !contactSettingsForm.province.$pristine, 'has-success' : contactSettingsForm.province.$valid && !contactSettingsForm.province.$pristine}">
          <label for="province">State/Province</label>
          <select ui-jq="chosen" ng-disabled="true" name="province" class="form-control chosen" ng-model="contact.state" ng-options="province.provinces_name as province.provinces_name for province in provinces">
            <option value="" disabled>select state </option>
          </select>
        </div>
        <div class="col-sm-6" ng-show='!(contact.country ==="PK")' ng-class="{ 'has-error' : contactSettingsForm.province.$invalid &&   !contactSettingsForm.province.$pristine, 'has-success' : contactSettingsForm.province.$valid && !contactSettingsForm.province.$pristine}">
          <label for="province">State/Province</label>
          <input type="text" name="province" ng-disabled="true" placeholder="State/Province" id="state" class="form-control" ng-model="contact.state">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 ">
          <label for="city">City</label>
          <select ui-jq="chosen" class="chosen form-control" ng-model="contact.city" ng-options="city.city_name as city.city_name for city in cities" ng-disabled="contact_view">
            <option value="" diabled>Select city</option>
          </select>
        </div>
        <div class="col-sm-6" ng-class="{  'has-success' : contact.zip.length>0}">
          <label for="zip">Zip Code</label>
          <input type="input" name="zip" placeholder="Zip Code" id="zip" class="form-control" ng-model="contact.zip" only-digits ng-disabled="contact_view">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : contactSettingsForm.address.$invalid &&   !contactSettingsForm.address.$pristine, 'has-success' : contactSettingsForm.address.$valid && !contactSettingsForm.address.$pristine}">
          <label for="address">Address</label>
          <textarea name="address" placeholder="Address" id="address" class="form-control" ng-model="contact.address" ng-disabled="contact_view"></textarea>
          <p class="help-block">
            <span ng-show="contactSettingsForm.address.$invalid">Enter valid address.</span>
          </p>
        </div>
      </div>
    </div>
    <!-- /tile body -->
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<div class="modal-footer">
  <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-ng-disabled="ntactSettingorm.$invalid || !isCategorySelected()" ng-show="!contact_update && !contact_view" ng-click="create_contact_submit()"><i class="fa fa-arrow-right"></i> Create</button>
  <button name="updateBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-ng-disabled="ntactSettingorm.$invalid" ng-show="contact_update" ng-click="update_contact_submit()"><i class="fa fa-arrow-right"></i> Update</button>
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
