<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     <span>{{page.subtitle}}</span>
     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Finance</a></li>
      <li><a href="#">Accounts</a></li>
      <li> <a href="#">Settings</a></li>
      <li class="active">Contact Settings</li>
    </ol>
    <div class="alert alert-success" ng-show="successNotify">
      <strong>Success! </strong>{{successNotifyValue}}.
    </div>
  </div>
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="createPopupShow('lg')" ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','create_access')">
              <i class="fa fa-plus"></i> Contact</button>
            <table ng-table="tableParams" class="table table-custom" show-filter="true">
              <tr ng-repeat="contact in $data">
                <td data-title="'Sr. No.'">
                 {{(tableParams.page()-1)*tableParams.count() +($index+1)}}</td>
                <td data-title="'Company/Contact Person'" filter="{ name: 'text'}" sortable="'name'">
                  {{contact.name}}</td>
                <td data-title="'Contact Type'" filter="{ c_type_name: 'text'}" sortable="'c_type_name'">
                  {{contact.c_type_name}}</td>
                <td data-title="'Mobile#'" filter="{ mobile: 'text'}" sortable="'mobile'">
                  {{contact.mobile}}</td>
                <td data-title="'Type'" filter="{ type: 'text'}" sortable="'type'">
                  {{contact.type}}</td>
                <td data-title="'Actions'">
                  <div class="row">
                    <button ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','update_access')" type="button" ng-click="updatePopupShow(contact.c_id,'lg')" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px"><i class="fa fa-pencil" style="margin-left: -2px"></i></button>
                    <button ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','view_access')" ng-click="viewPopupShow(contact.c_id,'lg')" type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
                    <!-- <button type="button" class="btn btn-rounded-20 btn-danger btn-sm" style="width:30px" ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','delete_access')"><i class="fa fa-times" style="margin-left: -2px"></i></button> -->
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
  </div>
</div>
