<form name="journalForm" class="form-horizontal" submit-validate ng-submit="submitForm(journalForm.$valid)" role="form" novalidate>
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(journalForm);">
      <h1 class="custom-font"><strong>Journal</strong> View</h1>
    </div>
    <div ng-show="isError">
      <div class="alert alert-lightred alert-dismissable fade in">
        <h4><strong>Error</strong></h4>
        <br> {{ errorsToShow }}</p>
      </div>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <!-- <p class="text-muted">Submit button will be enabled after completing form.</p> -->
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : journalForm.name.$invalid && !journalForm.name.$pristine, 'has-success' : journalForm.name.$valid && !journalForm.name.$pristine}">
          <label for="name">Name*</label>
          <input type="text" name="name" class="form-control" placeholder="Name" ng-model="journal.name" ng-pattern="/^[a-zA-Z]+$/" required disabled="">
          <p class="help-block">
            <span ng-show="journalForm.name.$error.pattern">Name is invalid.</span>
            <span ng-show="journalForm.name.$error.required && !journalForm.name.$pristine">Name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : journalForm.code.$invalid && !journalForm.code.$pristine, 'has-success' : journalForm.code.$valid && !journalForm.code.$pristine}">
          <label for="code">Code*</label>
          <input type="text" disabled="" name="code" class="form-control" placeholder="Code" ng-model="journal.code" required>
          <p class="help-block">
            <span ng-show="journalForm.code.$error.required && !journalForm.code.$pristine">Code is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : journalForm.type.$invalid && !journalForm.type.$pristine, 'has-success' : journalForm.type.$valid && !journalForm.type.$pristine}">
          <label for="type">Type*</label>
          <select class="form-control" ng-model="journal.journal_type" required name="type" disabled="">
            <option value="" disabled="">Select type</option>
            <option>Sale</option>
            <option>Sale Refund</option>
            <option>Purchase</option>
            <option>Purchase Refund</option>
            <option>Cash</option>
            <option>Banks</option>
            <option>General</option>
            <option>Opening/closing situation</option>
          </select>
          <p class="help-block">
            <span ng-show="journalForm.type.$error.required && !journalForm.type.$pristine">Category is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <label for="debit_account">Default Debit Account*</label>
          <select class="form-control" ng-options="leaf_account.coa_id as leaf_account.title for leaf_account in leaf_accounts" ng-model="journal.debit_account_id" required name="debit_account" disabled="">
            <option value="" disabled="">Select account</option>
          </select>
          <p class="help-block">
            <span ng-show="journalForm.debit_account.$error.required && !journalForm.debit_account.$pristine">Category is required.</span>
          </p>
        </div>
        <div class="col-sm-6">
          <label for="credit_account">Default Credit Account*</label>
          <select class="form-control sapce-dropdown" ng-options="leaf_account.coa_id as leaf_account.title for leaf_account in leaf_accounts" ng-model="journal.credit_account_id" required name="credit_account" disabled="">
            <option value="" disabled="">Select account</option>
          </select>
          <p class="help-block">
            <span ng-show="journalForm.credit_account.$error.required && !journalForm.credit_account.$pristine">Category is required.</span>
          </p>
        </div>
      </div>
  </section>
  <!-- /tile -->
</form>
<!-- tile footer -->
<div class="modal-footer">
  <!-- <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="journalForm.$invalid" ng-click="create_journal_submit()"><i class="fa fa-arrow-right"></i> Save</button> -->
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
