<form name="roomForm" class="form-horizontal" role="form">
  <!-- tile -->
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
      <h1 class="custom-font"><strong>Room</strong> Update</h1>
    </div>
    <div class="tile-body form-validation">
      <div class="form-group">
        <div class="col-sm-4" ng-class="{ 'has-error' : roomForm.branch.$invalid && !roomForm.branch.$pristine, 'has-success' : roomForm.branch.$valid && !roomForm.branch.$pristine}">
          <label for="branch">Branch*</label>
          <select ng-change="room_branch_select(class_new.branch_id)" ui-jq="chosen" name="branch" class="chosen form-control" ng-model="class_new.branch_id" ng-options="branch.id as branch.branch_title for branch in class_room_branches">
            <option disabled="" value="">Select branch</option>
          </select>
        </div>
        <div class="col-sm-4" ng-class="{ 'has-error' : roomForm.wing.$invalid && !roomForm.wing.$pristine, 'has-success' : roomForm.wing.$valid && !roomForm.wing.$pristine}">
          <label for="wing">wing*</label>
          <select ng-change="room_wing_select(class_new.wing_id)" ui-jq="chosen" name="wing" class="chosen form-control" ng-options="wing.id as wing.name for wing in class_room_wing" ng-model="class_new.wing_id">
            <option disabled="" value="">Select wing</option>
          </select>
        </div>
        <div class="col-sm-4" ng-class="{ 'has-error' : roomForm.subwing.$invalid && !roomForm.subwing.$pristine, 'has-success' : roomForm.subwing.$valid && !roomForm.subwing.$pristine}">
          <label for="subwing">Sub Wing*</label>
          <select ng-change="room_subwing_select(class_new.sub_wing_id)" ui-jq="chosen" name="subwing" class="chosen form-control" ng-model="class_new.sub_wing_id" ng-options="subwing.id as subwing.name for subwing in room_subwings">
            <option disabled="" value="">Select subwing</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="true" ng-init="init_class_rooms()">
          <accordion-heading>
            Room <i class="pull-right fa" ng-class="{'fa-angle-down': roomAccordian, 'fa-angle-right': !roomAccordian}"></i>
          </accordion-heading>
          <div class="form-group">
            <div id="show-Proces">
              <table class="table table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Room No.</th>
                  <th>Type
                  </th>
                  <th>Capacity</th>
                  <th>Facilities
                  </th>
                  <th>Description</th>
                </thead>
                <tbody>
                  <tr>
                    <td ng-class="{ 'has-error' : roomForm.class_new{{$index}}.$invalid && !roomForm.class_new{{$index}}.$pristine, 'has-success' : roomForm.class_new{{$index}}.$valid && !roomForm.class_new{{$index}}.$pristine}">
                      <input type="text" placeholder="Name" ng-model="class_new.name" name="class_new{{$index}}" class="form-control" ng-pattern="/^[a-zA-Z0-9 ]+$/" maxlength="50" required>
                    </td>
                    <td>
                      <input type="text" placeholder="Room No." ng-model="class_new.room_num" name="class_new{{$index}}" class="form-control" ng-pattern="/^[a-zA-Z0-9 ]+$/" maxlength="50">
                    </td>
                    <td width="200px;">
                      <select ui-jq="chosen" class="chosen form-control sapce-dropdown" ng-options="class_room_type.id as class_room_type.name for class_room_type in class_room_types" ng-model="class_new.room_type_id">
                        <option value="" disabled>Select Type</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" placeholder="Capacity" ng-model="class_new.capacity" class="form-control"> </td>
                    <td width="200px;">
                      <ui-select multiple ng-required="true" name="facility" ng-model="edit_faci.facilities">
                        <ui-select-match placeholder="Select facilities...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="facility in class_room_facilities | filter:{name:$select.search}">
                          {{facility.name}}
                        </ui-select-choices>
                      </ui-select>
                    </td>
                    <td>
                      <textarea placeholder="Description" maxlength="255" ng-model="class_new.description" name="add_infomation" cols="50" rows="3" class="form-control"></textarea>
                    </td>
                    <td>
                      <a ng-if="$index > 0" ng-click="delete_row($index)" title="Delete" class="btn btn-xs btn-danger btn-perspective"> <i class="fa fa-times"> </i> </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div class="clearfix"></div>
  </section>
  <!-- /tile -->
  <!-- tile footer -->
</form>
<div class="modal-footer">
  <button ng-click="edit_room_submit()" name="saveBtn" ng-disabled="roomForm.$invalid" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" type="submit"><i class="fa fa-arrow-right"></i> Save</button>
  <button name="cancelBtn" type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissIt()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
<!-- /tile footer -->
