<div class="col-md-12">
  <form name="bankForm" class="form-horizontal" submit-validate ng-submit="submitForm(bankForm.$valid)" role="form" novalidate>
    <section class="tile" fullscreen="isFullscreen01">
      <div class="tile-header dvd dvd-btm" ng-init="setForm(bankForm);">
        <h1 class="custom-font"><strong>Bank</strong> View</h1>
      </div>
      <div ng-show="isError">
        <div class="alert alert-lightred alert-dismissable fade in">
          <h4><strong>Error</strong></h4>
          <br> {{ errorsToShow }}
        </div>
      </div>
      <h4>Account Information</h4>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.account_type.$invalid && !coaForm.account_type.$pristine, 'has-success' : coaForm.account_type.$valid && !coaForm.account_type.$pristine}">
          <label for="account_type">Bank Account Type*</label>
          <select ui-jq="chosen" name="account_type" ng-model="account.bank_acc_type" ng-change="set_code()" class="form-control" disabled="">
            <option value="" ng-selected disabled="" required>Select type</option>
            <option>Current</option>
            <option>Saving</option>
            <option>Ohers</option>
          </select>
          <p class="help-block">
            <span ng-show="coaForm.account_type.$error.required && !coaForm.account_type.$pristine">Account type is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.title.$invalid && !coaForm.title.$pristine, 'has-success' : coaForm.title.$valid && !coaForm.title.$pristine}">
          <label for="bank_acc_number">Bank Account Number*</label>
          <input type="text" name="bank_acc_number" class="form-control" placeholder="Bank Account Number" ng-model="account.bank_acc_number" required disabled="">
          <p class="help-block">
            <span ng-show="coaForm.bank_acc_number.$error.required && !coaForm.bank_acc_number.$pristine">Account number is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_acc_title.$invalid && !coaForm.bank_acc_title.$pristine, 'has-success' : coaForm.bank_acc_title.$valid && !coaForm.bank_acc_title.$pristine}">
          <label for="bank_acc_title">Account Title*</label>
          <input type="text" name="bank_acc_title" class="form-control" placeholder="Account Title" ng-model="account.bank_acc_title" required disabled="">
          <p class="help-block">
            <span ng-show="coaForm.bank_acc_title.$error.required && !coaForm.bank_acc_title.$pristine">Account title is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.currency.$invalid && !coaForm.currency.$pristine, 'has-success' : coaForm.currency.$valid && !coaForm.currency.$pristine}">
          <label for="currency">Currency</label>
          <select ui-jq="chosen" name="currency" ng-model="account.bank_acc_currency" ng-change="set_code()" class="form-control" disabled="">
            <option value="" ng-selected disabled="" required>Select currency</option>
            <option ng-repeat="currency in all_currencies" value="{{currency.id}}">{{currency.country}} {{currency.name}}</option>
          </select>
          <p class="help-block">
            <span ng-show="coaForm.currency.$error.required && !coaForm.currency.$pristine">Currency is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_acc_code.$invalid && !coaForm.bank_acc_code.$pristine, 'has-success' : coaForm.bank_acc_code.$valid && !coaForm.bank_acc_code.$pristine}">
          <label for="bank_acc_code">Code*</label>
          <input type="text" name="bank_acc_code" class="form-control" placeholder="Code" ng-model="account.bank_acc_code" required disabled="">
          <p class="help-block">
            <span ng-show="coaForm.bank_acc_code.$error.required && !coaForm.bank_acc_code.$pristine">Code is required.</span>
          </p>
        </div>
      </div>
      <accordion close-others="oneAtATime">
        <accordion-group is-open="bank.isOpen">
          <accordion-heading>
            Bank Information <i class="pull-right fa" ng-class="{'fa-angle-down': bank.isOpen, 'fa-angle-right': !bank.isOpen}"></i>
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_name.$invalid && !coaForm.bank_name.$pristine, 'has-success' : coaForm.bank_name.$valid && !coaForm.bank_name.$pristine}">
              <label for="bank_name">Bank Name*</label>
              <input type="text" name="bank_name" class="form-control" placeholder="Bank Name" ng-model="bank.bank_name" required disabled="">
              <p class="help-block">
                <span ng-show="coaForm.bank_name.$error.required && !coaForm.bank_name.$pristine">Bank name is required.</span>
              </p>
            </div>
            <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_abbrevation.$invalid && !coaForm.bank_abbrevation.$pristine, 'has-success' : coaForm.bank_abbrevation.$valid && !coaForm.bank_abbrevation.$pristine}">
              <label for="bank_abbrevation">Bank Abbrevation*</label>
              <input type="text" name="bank_abbrevation" class="form-control" placeholder="Bank Abbrevation" ng-model="bank.bank_abbrevation" required disabled="">
              <p class="help-block">
                <span ng-show="coaForm.bank_abbrevation.$error.required && !coaForm.bank_abbrevation.$pristine">Bank abbrevation is required.</span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_branch_name.$invalid && !coaForm.bank_branch_name.$pristine, 'has-success' : coaForm.bank_branch_name.$valid && !coaForm.bank_branch_name.$pristine}">
              <label for="bank_branch_name">Branch Name*</label>
              <input type="text" name="bank_branch_name" class="form-control" placeholder="Branch Name" ng-model="bank.bank_branch_name" required disabled="">
              <p class="help-block">
                <span ng-show="coaForm.bank_branch_name.$error.required && !coaForm.bank_branch_name.$pristine">Branch name is required.</span>
              </p>
            </div>
            <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_branch_code.$invalid && !coaForm.bank_branch_code.$pristine, 'has-success' : coaForm.bank_branch_code.$valid && !coaForm.bank_branch_code.$pristine}">
              <label for="bank_branch_code">Branch Code*</label>
              <input type="text" name="bank_branch_code" class="form-control" placeholder="Branch Code" ng-model="bank.bank_branch_code" required disabled="">
              <p class="help-block">
                <span ng-show="coaForm.bank_branch_code.$error.required && !coaForm.bank_branch_code.$pristine">Branch code is required.</span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_contact_person.$invalid && !coaForm.bank_contact_person.$pristine, 'has-success' : coaForm.bank_contact_person.$valid && !coaForm.bank_contact_person.$pristine}">
              <label for="bank_contact_person">Branch Contact Person*</label>
              <input type="text" name="bank_contact_person" class="form-control" placeholder="Branch Contact Person" ng-model="bank.bank_contact_person" required disabled="">
              <p class="help-block">
                <span ng-show="coaForm.bank_contact_person.$error.required && !coaForm.bank_contact_person.$pristine">Branch contact person is required.</span>
              </p>
            </div>
            <div class="col-sm-6" ng-class="{ 'has-error' : coaForm.bank_address.$invalid && !coaForm.bank_address.$pristine, 'has-success' : coaForm.bank_address.$valid && !coaForm.bank_address.$pristine}">
              <label for="bank_address">Branch Address*</label>
              <input type="text" name="bank_address" class="form-control" placeholder="Branch Address" ng-model="bank.bank_address" required disabled="">
              <p class="help-block">
                <span ng-show="coaForm.bank_address.$error.required && !coaForm.bank_address.$pristine">Branch address is required.</span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="bank_country">Branch Country</label>
              <select name="bank_country" class="form-control" ng-model="bank.bank_country" ng-change="get_cities()" disabled="">
                <option value="" disabled>Select country </option>
                <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
              </select>
              <p class="help-block">
              </p>
            </div>
            <div class="col-sm-6">
              <label for="bank_province">Branch State</label>
              <select class="form-control" name="bank_province" ng-model="bank.bank_province" ng-show='bank.bank_country ==="PK"' disabled="">
                <option value="" disabled>select state </option>
                <option ng-repeat="province in provinces" value="{{province.provinces_name}}">{{province.provinces_name}}</option>
              </select>
              <input type="text" ng-show='!(bank.bank_country ==="PK")' ng-model="bank.bank_province" placeholder="Branch State" class="form-control" name="bank_province">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="bank_city">Branch City</label>
              <select name="bank_city" class="form-control" ng-model="bank.bank_city" ng-options="city.city_name as city.city_name for city in cities" disabled="">
                <option value="" disabled>Select city </option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="bank_code">Zip Code</label>
              <input type="number" ng-model="coa.bank_code" name="bank_code" class="form-control" placeholder="Zip Code">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="bank_phone">Branch Phone Number</label>
              <input type="text" ng-model="bank.bank_phone" placeholder="Phone Number" class="form-control" name="bank_phone" disabled="">
            </div>
            <div class="col-sm-6">
              <label for="bank_email">Branch Email Address</label>
              <input type="Email" ng-model="bank.bank_email" name="bank_email" class="form-control" placeholder="Email" disabled="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="bank_info">Additional Information</label>
              <textarea class="form-control" rows="3" name="bank_info" placeholder="Additional Information" ng-model="bank.bank_info" on-blur-validation disabled=""></textarea>
              <p class="help-block">
              </p>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </section>
  </form>
</div>
<div class="clearfix"></div>
<div class="modal-footer">
  <!-- <button name="saveBtn" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="bankForm.$invalid" ng-click="add_bank_submit()"><i class="fa fa-arrow-right"></i> Save</button> -->
  <button name="cancelBtn" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="dismissBank()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>
