<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     <span>{{page.subtitle}}</span>
     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Academics</a></li>
      <li> <a href="#">Settings</a></li>
      <li class="active">Bell Timings</li>
    </ol>
    <div ng-show="alert.msg">
      <alert type="{{alert.type}}" close="closeAlert()" class="{{alert.closeable ? 'closeable' : 'notcloseable'}}">
        <i class="fa {{alert.icon}}"></i> {{alert.msg}}
      </alert>
    </div>
  </div>
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_bell_timing()" ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','create_access')">
              <i class="fa fa-plus"></i> Bell Timing</button>
            <table ng-table="tableParams" class="table table-custom" show-filter="true">
              <tr ng-repeat="bell_timing in $data">
                <td data-title="'Sr no.'">
                  {{$index + 1}}</td>
                <td data-title="'Name'" filter="{ bell_title: 'text'}" sortable="'bell_title'">
                  {{bell_timing.bell_title}}</td>
                <td data-title="'No. of Lectures'" filter="{ bell_periods: 'text'}" sortable="'bell_periods'">
                  {{bell_timing.bell_periods}}</td>
                <td data-title="'Actions'">
                  <div class="row">
                    <button ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','update_access')" type="button" ng-click="edit_bell_timing(bell_timing.id)" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px"><i class="fa fa-pencil" style="margin-left: -2px"></i></button>
                    <button ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','view_access')" ng-click="view_bell_timing(bell_timing.id)" type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
                    <!-- <button type="button" class="btn btn-rounded-20 btn-danger btn-sm" style="width:30px" ng-hide="menuPermissionLevel2('Finance','fee_settings','contacts','delete_access')"><i class="fa fa-times" style="margin-left: -2px"></i></button> -->
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
  </div>
</div>
