<form name="branchForm" class="form-horizontal" submit-validate role="form" novalidate>
  <section class="tile noBottom" fullscreen="isFullscreen01">
    <!-- tile header -->
    <div class="tile-header dvd dvd-btm" ng-init="setForm(branchForm);">
      <h1 class="custom-font"><strong>Branch</strong> Show</h1>
    </div>
    <!-- /tile header -->
    <!-- tile body -->
    <div class="tile-body form-validation">
      <div class="form-dotted-group col-md-12" style="padding:5px;">
        <div style=" margin-bottom:40px;">
          <div class="photo-bg">
            <img id="logoPreviewBranch" ng-src="{{branch.branch_logo_url}}">
            <div class="prodile-photo-branch">
              <!-- <span class="fileinput-button profile-photo"><span><i class="fa fa-camera"></i></span> -->
              <input type="file" uploader="profileUploaderBranch" multiple nv-file-select="" id="logoUploadBranch" class="photo-file" reuiqred type="file" ng-file-select="" ng-model="branch.branch_photo" name="branch_photo" accept="image/*" ng-file-change="" class="ng-pristine ng-invalid ng-invalid-required" disabled="">
              </span>
            </div>
          </div>
          <div class="form-group" style="margin-left:180px;">
            <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.name.$invalid && !branchForm.name.$pristine, 'has-success' : branchForm.name.$valid && !branchForm.name.$pristine}">
              <label for="name">Name*</label>
              <input type="text" ng-model="branch.branch_title" name="name" maxlength="40" class="form-control" placeholder="Name" ng-pattern="/^[a-zA-Z ]+$/" required disabled="">
              <p class="help-block">
                <span ng-show="branchForm.name.$error.pattern">Name is invalid.</span>
                <span ng-show="branchForm.name.$error.required && !branchForm.name.$pristine">Name is required.</span>
              </p>
            </div>
            <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.type.$invalid && !branchForm.type.$pristine, 'has-success' : branchForm.type.$valid && !branchForm.type.$pristine}">
              <label for="type">Type*</label>
              <select disabled="" ui-jq="chosen" name="type" ng-model="branch.branch_type" class="form-control" ng-options="branch_type.branch_type as branch_type.branch_type for branch_type in branch_types" ng-required="true">
                <option value="" ng-selected disabled="">Select type</option>
              </select>
              <p class="help-block">
                <span ng-show="branchForm.type.$error.required && !branchForm.type.$pristine">Type is required.</span>
              </p>
            </div>
          </div>
          <div class="form-group" style="margin-left:180px;">
            <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.principal_name.$invalid && !branchForm.principal_name.$pristine, 'has-success' : branchForm.principal_name.$valid && !branchForm.principal_name.$pristine}">
              <label for="principal_name">Principal Name</label>
              <input type="text" ng-model="branch.founder_name" name="principal_name" disabled="" maxlength="40" class="form-control" placeholder="Principal Name" ng-pattern="/^[a-zA-Z ]+$/">
              <p class="help-block">
                <span ng-show="branchForm.principal_name.$error.pattern">Principal Name is invalid.</span>
              </p>
            </div>
            <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.founding_date.$invalid && !branchForm.founding_date.$pristine, 'has-success' : branchForm.founding_date.$valid && !branchForm.founding_date.$pristine}">
              <label for="founding_date">Founding Date</label>
              <div class="input-group">
                <input type="text" name="founding_date" disabled class="form-control" ng-model="branch.founding_date" datepicker-popup="{{format}}" is-open="dp.openedFoundingDate" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="DD/MM/YYYY" />
                <span class="input-group-btn ">
                    <button type="button " class="btn btn-default " ng-click="openFoundingDate($event) "  disabled=""><i class="fa fa-calendar "></i></button>
                    </span>
              </div>
              <p class="help-block ">
                <span ng-show="branchForm.founding_date.$invalid && !branchForm.founding_date.$pristine ">Founding date is invalid.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-dotted-group col-md-12">
        <div class="form-group">
          <div class="col-sm-6">
            <label for="phone">Phone Number</label>
            <input type="input" name="phone" ui-mask="(999) 999-99999" class="form-control" ng-model="branch.branch_phone_no" disabled="">
          </div>
          <div class="col-sm-6">
            <label for="fax">Fax Number</label>
            <input type="input" name="fax" class="form-control" ng-model="branch.branch_fax_no" ui-mask="(999) 999-99999" disabled="">
          </div>
        </div>
      </div>
      <div class="form-dotted-group col-md-12">
        <div class="form-group">
          <div class="col-sm-6">
            <label for="address">Address</label>
            <input type="input" name="address" placeholder="Address" class="form-control" ng-model="branch.branch_address" disabled=""></input>
          </div>
          <div class="col-sm-6">
            <label for="area">Area</label>
            <input type="input" name="area" placeholder="Area" class="form-control" ng-model="branch.branch_area" disabled=""></input>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 ">
            <label for="country">Country</label>
            <select ui-jq="chosen" name="country" class="form-control chosen" ng-model="branch.branch_country" ng-change="get_cities_branch()" ng-options="country.code as country.name for country in countries" disabled="">
              <option value="" disabled>select country </option>
            </select>
          </div>
          <div class="col-sm-6" ng-show='branch.country ==="PK"' ng-class="{ 'has-error' : branchForm.province.$invalid &&   !branchForm.province.$pristine, 'has-success' : branchForm.province.$valid && !branchForm.province.$pristine}">
            <label for="province">State/Province</label>
            <select ui-jq="chosen" name="province" class="form-control sapce-dropdown chosen" ng-model="branch.branch_state" ng-options="province.provinces_name as province.provinces_name for province in provinces" disabled="">
              <option value="" disabled>select state </option>
            </select>
          </div>
          <div class="col-sm-6" ng-show='!(branch.country ==="PK")' ng-class="{ 'has-error' : branchForm.province.$invalid &&   !branchForm.province.$pristine, 'has-success' : branchForm.province.$valid && !branchForm.province.$pristine}">
            <label for="province">State/Province</label>
            <input type="text" name="province" placeholder="State/Province" id="state" class="form-control" ng-model="branch.branch_state" disabled="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 ">
            <label for="city">City</label>
            <select ui-jq="chosen" name="city" class="form-control chosen dasdassadsa" ng-model="selectedcitybranch.name" ng-options="city.city_name as city.city_name for city in cities" disabled="">
              <option value="" disabled>Select city</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="zip_code">Zip Code</label>
            <input type="number" name="zip_code" placeholder="Zip Code" class="form-control" ng-model="branch.branch_zip_code" disabled="">
          </div>
        </div>
      </div>
      <div class="form-dotted-group col-md-12">
        <div class="form-group">
          <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.email.$invalid && !branchForm.email.$pristine, 'has-success' : branchForm.email.$valid && !branchForm.email.$pristine}">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" id="email" class="form-control" ng-model="branch.branch_email" disabled="">
            <p class="help-block">
              <span ng-show="branchForm.email.$invalid">Enter valid email address.</span>
            </p>
          </div>
          <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.website.$invalid && !branchForm.website.$pristine, 'has-success' : branchForm.website.$valid && !branchForm.website.$pristine}">
            <label for="website">Website</label>
            <input type="input" name="website" placeholder="Website" id="website" class="form-control" ng-model="branch.branch_website" disabled="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.facebook.$invalid && !branchForm.facebook.$pristine, 'has-success' : branchForm.facebook.$valid && !branchForm.facebook.$pristine}">
            <label for="facebook">Facebook Link</label>
            <input type="input" name="facebook" placeholder="Facebook Link" class="form-control" ng-model="branch.branch_facebook" disabled="">
          </div>
          <div class="col-sm-6" ng-class="{ 'has-error' : branchForm.skype.$invalid && !branchForm.skype.$pristine, 'has-success' : branchForm.skype.$valid && !branchForm.skype.$pristine}">
            <label for="skype">Skype</label>
            <input type="input" name="skype" placeholder="Skype" class="form-control" ng-model="branch.branch_skype" disabled="">
          </div>
        </div>
      </div>
      <div class="form-dotted-group col-md-12">
        <div class="form-group">
          <div class="col-sm-6">
            <label for="additional_info">Additional Information</label>
            <textarea class="form-control" rows="3" name="additional_info" placeholder="Additional Information" ng-model="branch.branch_info" on-blur-validation disabled=""></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button name="cancelBtn " class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c " ng-click="dismissIt() "><i class="fa fa-arrow-left "></i> Cancel</button>
      </div>
</form>
</div>
</section>
