<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>{{page.subtitle}}</span>

     </h2>
    <!-- <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Tables</a>
        </li>
        <li>
          <a ui-sref="app.tables.datatables">{{page.title}}</a>
        </li>
      </ul>
    </div> -->
    <ol class="breadcrumb">
      <!-- <li><a ui-sref="app.dashboard">Dashboard</a></li> -->
      <li><a href="#">Finance</a></li>
      <li><a href="#">Accounts</a></li>
      <li class="active">Balance Sheet</li>
    </ol>
  </div>
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <section class="tile" fullscreen="isFullscreen01">
          <div class="tile-body">
            <form name="balanceSheetForm" class="form-horizontal" submit-validate ng-submit="get_balance_sheet()" role="form" novalidate>
              <div class="">
                <div class="form-group ">
                  <div class="col-sm-6">
                    <label for="end">Balance Date</label>
                    <div class="input-group">
                      <input type="text" name="end" disabled class="form-control" ng-model="balance_sheet.end" datepicker-popup="{{format}}" is-open="opened1" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" required />
                      <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1($event)" ><i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                  </div>
                </div>
                <div class=" form-group margin-top-10" style="width:100%;text-align:center; margin-top:20px">
                  <div class="col-md-12">
                    <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="balanceSheetForm.$invalid" ng-click="type = 1"><i class="fa fa-arrow-right"></i> PDF</button>
                    <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="balanceSheetForm.$invalid" ng-click="type = 2"><i class="fa fa-arrow-right"></i> Excel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
