<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>{{page.subtitle}}</span>

     </h2>
    <!-- <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Tables</a>
        </li>
        <li>
          <a ui-sref="app.tables.datatables">{{page.title}}</a>
        </li>
      </ul>
    </div> -->
    <ol class="breadcrumb">
      <!-- <li><a ui-sref="app.dashboard">Dashboard</a></li> -->
      <li><a href="#">Finance</a></li>
      <li><a href="#">Accounts</a></li>
      <li class="active">Income Statement</li>
    </ol>
  </div>
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <section class="tile" fullscreen="isFullscreen01">
          <div class="tile-body">
            <form name="incomeStatementForm" class="form-inline" submit-validate ng-submit="get_income_statement()" role="form" novalidate>
              <div class="">
                <div class="form-group ">
                  <div class="col-sm-4">
                    <label class="checkbox checkbox-custom checkbox-custom-sm">
                      <input name="customRadio" ng-model="income_statement.filter" type="radio" value="1"><i></i> Fiscal Year
                    </label>
                    <select class="form-control" chosen ng-model="income_statement.fiscal_year" ui-options="{width: '240px'}" ng-disabled="income_statement.filter == 2" ng-required="income_statement.filter == 1">
                      <option value="" disabled="">Select fiscal year</option>
                      <option ng-repeat="fiscal_year in fiscal_years" value="{{fiscal_year}}">{{label(fiscal_year.start,fiscal_year.end)}}</option>
                    </select>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-sm-12">
                      <div class="col-sm-2">
                        <label class="checkbox checkbox-custom checkbox-custom-sm">
                          <input name="customRadio" ng-model="income_statement.filter" type="radio" value="2"><i></i> Period
                        </label>
                      </div>
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input type="text" name="start_date" disabled class="form-control" ng-model="income_statement.start_date" datepicker-popup="{{format}}" is-open="opened1" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" ng-required="income_statement.filter == 2" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1($event)" ng-disabled="income_statement.filter == 1"><i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="input-group">
                          <input type="text" name="end_date" disabled class="form-control" ng-model="income_statement.end_date" datepicker-popup="{{format}}" is-open="opened2" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" ng-change="set_fiscal_end()" close-text="Close" placeholder="dd/mm/yyyy" min-date="income_statement.start_date" ng-required="income_statement.filter == 2" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2($event)" ng-disabled="income_statement.filter == 1"><i class="fa fa-calendar" ></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" form-group margin-top-10" style="width:100%;text-align:center; margin-top:20px">
                  <div class="col-md-12">
                    <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="incomeStatementForm.$invalid" ng-click="type = 1"><i class="fa fa-arrow-right"></i> PDF</button>
                    <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="incomeStatementForm.$invalid" ng-click="type = 2"><i class="fa fa-arrow-right"></i> Excel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
