<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>{{page.subtitle}}</span>

     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Finance</a></li>
      <li><a href="#">Accounts</a></li>
      <li class="active">Ledgers</li>
    </ol>
    <div class="alert alert-success" ng-show="updateSuccess">
      <strong>Success!</strong>Settings successfully updated.
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <!-- =========================================================-->
        <!-- Tabs-->
        <!-- =========================================================-->
        <md-content class="tabsdemoDynamicHeight" >
          <md-tabs md-dynamic-height md-border-bottom>
            <!-- =========================================================-->
            <!-- Account Ledgers Tab-->
            <!-- =========================================================-->
            <md-tab label="Account Ledgers">
              <md-content class="md-padding">
                <section class="tile" fullscreen="isFullscreen01" style="height:450px;">
                  <div class="tile-body">
                    <form name="accountLedgerForm" class="form-inline" submit-validate ng-submit="get_account_ledger()" role="form" novalidate>
                      <div class="">
                        <div class="form-group" style="width:100%;margin-top:20px">
                          <div class="col-sm-6">
                            <label for="periods">Account</label>
                            <md-autocomplete md-selected-item="account" md-search-text-change="accountTextChange(accountText)" md-search-text="accountText" md-selected-item-change="accountChange(item)" md-items="item in results" md-item-text="item.title" md-min-length="0" ng-required="true" placeholder="Enter Account">
                              <md-item-template>
                                <span md-highlight-text="accountText" md-highlight-flags="^i">{{item.title}}</span>
                              </md-item-template>
                              <md-not-found>
                                No matches found for "{{accountText}}".
                              </md-not-found>
                            </md-autocomplete>
                          </div>
                        </div>
                        <div class="form-group" style="width:100%;margin-top:20px">
                          <div class="col-sm-12">
                            <div class="col-sm-4">
                              <label class="checkbox checkbox-custom checkbox-custom-sm">
                                <input name="customRadio" ng-model="account_ledger.filter" type="radio" value="1"><i></i> Fiscal Year
                              </label>
                              <select class="form-control" chosen ng-model="account_ledger.fiscal_year" style="width: 160px" ng-disabled="account_ledger.filter == 2" ng-required="account_ledger.filter == 1">
                                <option value="" disabled="">Select fiscal year</option>
                                <option ng-repeat="fiscal_year in fiscal_years" value="{{fiscal_year}}">{{label(fiscal_year.start,fiscal_year.end)}}</option>
                              </select>
                            </div>
                            <div class="col-sm-8">
                              <label class="checkbox checkbox-custom checkbox-custom-sm">
                                <input name="customRadio" ng-model="account_ledger.filter" type="radio" value="2"><i></i> Period
                              </label>
                              <div class="input-group">
                                <input type="text" name="start" disabled class="form-control" ng-model="account_ledger.start" datepicker-popup="{{format}}" is-open="opened1" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" ng-required="account_ledger.filter == 2" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1($event)" ng-disabled="account_ledger.filter == 1"><i class="fa fa-calendar"></i></button>
                                  </span>
                              </div>
                              <div class="input-group">
                                <input type="text" name="end" disabled class="form-control" ng-model="account_ledger.end" datepicker-popup="{{format}}" is-open="opened2" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" min-date="account_ledger.start" ng-required="account_ledger.filter == 2" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2($event)" ng-disabled="account_ledger.filter == 1"><i class="fa fa-calendar"></i></button>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class=" form-group margin-top-10" style="width:100%;text-align:center; margin-top:20px">
                          <div class="col-md-12">
                            <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="accountLedgerForm.$invalid" ng-click="type = 1"><i class="fa fa-arrow-right"></i> PDF</button>
                            <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="accountLedgerForm.$invalid" ng-click="type = 2"><i class="fa fa-arrow-right"></i> Excel</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </section>
              </md-content>
            </md-tab>
            <!-- =========================================================-->
            <!-- Contact Ledgers Tab-->
            <!-- =========================================================-->
            <md-tab label="Contact Ledgers">
              <md-content class="md-padding">
                <section class="tile" fullscreen="isFullscreen01" style="height:450px;">
                  <div class="tile-body">
                    <form name="contactLedgerForm" class="form-inline" submit-validate ng-submit="get_contact_ledger()" role="form" novalidate>
                      <div class="">
                        <div class="form-group" style="width:100%;margin-top:20px">
                          <div class="col-sm-6">
                            <label for="type">Contact</label>
                            <select class="form-control" ui-jq="chosen" name="type" chosen ng-model="contact_ledger.type" style="width: 100%" ng-required="true" ng-change="reset_query()">
                              <option value="" disabled="">Select Contact Type</option>
                              <option value="customer">Customer</option>
                              <option value="supplier">Supplier</option>
                            </select>
                          </div>
                          <div class="col-sm-6">
                            <label for="periods">Contact</label>
                            <md-autocomplete md-selected-item="contact" md-no-cache="true" ng-disabled='!contact_ledger.type' md-search-text-change="contactTextChange(contactText)" md-search-text="contactText" md-selected-item-change="contactChange(item)" md-items="item in querySearch()" md-autoselect="true" md-item-text="item.name" md-min-length="0" ng-required="true" placeholder="Enter Contact">
                              <md-item-template>
                                <span md-highlight-text="contactText" md-highlight-flags="^i">{{item.name}}</span>
                              </md-item-template>
                              <md-not-found>
                                No matches found for "{{contactText}}".
                              </md-not-found>
                            </md-autocomplete>
                          </div>
                        </div>
                        <div class="form-group" style="width:100%;margin-top:20px">
                          <div class="col-sm-12">
                            <div class="col-sm-4">
                              <label class="checkbox checkbox-custom checkbox-custom-sm">
                                <input name="customRadio" ng-model="contact_ledger.filter" type="radio" value="1"><i></i> Fiscal Year
                              </label>
                              <select class="form-control" chosen ng-model="contact_ledger.fiscal_year" style="width: 160px" ng-disabled="contact_ledger.filter == 2" ng-required="contact_ledger.filter == 1">
                                <option value="" disabled="">Select fiscal year</option>
                                <option ng-repeat="fiscal_year in fiscal_years" value="{{fiscal_year}}">{{label(fiscal_year.start,fiscal_year.end)}}</option>
                              </select>
                            </div>
                            <div class="col-sm-8">
                              <label class="checkbox checkbox-custom checkbox-custom-sm">
                                <input name="customRadio" ng-model="contact_ledger.filter" type="radio" value="2"><i></i> Period
                              </label>
                              <div class="input-group">
                                <input type="text" name="start" disabled class="form-control" ng-model="contact_ledger.start" datepicker-popup="{{format}}" is-open="opened1" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" ng-required="contact_ledger.filter == 2" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1($event)" ng-disabled="contact_ledger.filter == 1"><i class="fa fa-calendar"></i></button>
                                  </span>
                              </div>
                              <div class="input-group">
                                <input type="text" name="end" disabled class="form-control" ng-model="contact_ledger.end" datepicker-popup="{{format}}" is-open="opened2" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|1[0-9]|2[0-9]|3[01])\/(0[1-9]|1[0-2])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="dd/mm/yyyy" min-date="contact_ledger.start" ng-required="contact_ledger.filter == 2" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2($event)" ng-disabled="contact_ledger.filter == 1"><i class="fa fa-calendar"></i></button>
                                  </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class=" form-group margin-top-10" style="width:100%;text-align:center; margin-top:20px">
                          <div class="col-md-12">
                            <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="contactLedgerForm.$invalid" ng-click="type = 1"><i class="fa fa-arrow-right"></i> PDF</button>
                            <button name="saveBtn" type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="contactLedgerForm.$invalid" ng-click="type = 2"><i class="fa fa-arrow-right"></i> Excel</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </section>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </div>
</div>
