<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_txn('bp','Bank Payment')">
    <i class="fa fa-plus"></i> Bank Payment</button>
<table ng-table="tableParams5" class="table table-custom" show-filter="true">
    <tr ng-repeat="bp in $data">
        <td data-title="'Sr. No.'">
            {{(tableParams5.page()-1)*tableParams5.count() +($index+1)}}</td>
        <td data-title="'Contact'" filter="{ contact: 'text'}" sortable="'contact'">
            {{bp.contact}}</td>
        <td data-title="'Date'" filter="{ t_date: 'text'}" sortable="'t_date'">
            {{bp.t_date}}</td>
        <td data-title="'Journal'" filter="{ journal: 'text'}" sortable="'journal'">
            {{bp.journal}}</td>
        <td data-title="'Account'" filter="{ coa: 'text'}" sortable="'coa'">
            {{bp.coa}}</td>
        <td data-title="'Payment Type'" filter="{p_type: 'text'}" sortable="'p_type'">
            {{bp.p_type}}</td>
        <td data-title="'Reference'" filter="{ref_id: 'text'}" sortable="'ref_id'">
            {{bp.ref_id}}</td>
        <td data-title="'Amount'" filter="{amount: 'text'}" sortable="'amount'">
            {{bp.amount}}</td>
        <td data-title="'Action'">
            <div class="row">
                <button type="button" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px" ng-click="view_txn(bp.txn_id,5,'lg')"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
            </div>
        </td>
    </tr>
</table>
