<div class="page page-datatables">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}
     
     <span>{{page.subtitle}}</span>

     </h2>
    <ol class="breadcrumb">
      <li><a href="#">Academics</a></li>
      <li> <a href="#">Settings</a></li>
      <li class="active">Session</li>
    </ol>
    <div class="alert alert-success" ng-show="successNotify">
      <strong>Success! </strong>{{successNotifyValue}}.
    </div>
    <!-- <div class="alert alert-success" ng-show="updateSuccess">
      <strong>Success!</strong>Settings successfully updated.
    </div> -->
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <!-- =========================================================-->
        <!-- Tabs-->
        <!-- =========================================================-->
        <md-content class="tabsdemoDynamicHeight">
          <md-tabs md-dynamic-height md-border-bottom>
            <!-- =========================================================-->
            <!-- Session Tab-->
            <!-- =========================================================-->
            <md-tab label="Session" md-on-select="show_sessions()" ng-if="!menuPermissionLevel3('Academics','academics_settings','academic_setting','session','index_access')">
              <md-content class="md-padding">
                <section class="tile" fullscreen="isFullscreen01">
                  <div ng-include src="'views/tmpl/academics/settings/academic_settings/session/index.html'"></div>
                </section>
              </md-content>
            </md-tab>
            <!-- =========================================================-->
            <!-- Shift Tab-->
            <!-- =========================================================-->
            <md-tab label="Shift " md-on-select="show_shift()" ng-if="!menuPermissionLevel3('Finance','fee_settings','account_setting','chart_of_account','index_access')">
              <md-content class="md-padding ">
                <section class="tile" fullscreen="isFullscreen01">
                  <div ng-include src="'views/tmpl/academics/settings/academic_settings/shift/index.html'"></div>
                </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Class Tab-->
            <!-- =========================================================-->
            <md-tab label="Class " md-on-select="show_class()" ng-if="!menuPermissionLevel3('Finance','fee_settings','account_setting','journal','index_access')">
              <section class="tile" fullscreen="isFullscreen01">
                <div ng-include src="'views/tmpl/academics/settings/academic_settings/class/index.html'"></div>
              </section>
            </md-tab>
            <!-- =========================================================-->
            <!-- Room Allocation Tab-->
            <!-- =========================================================-->
            <md-tab label="Room Allocation " md-on-select="show_room()" ng-if="!menuPermissionLevel3('Finance','fee_settings','account_setting','journal','index_access')">
              <section class="tile" fullscreen="isFullscreen01">
                <div ng-include src="'views/tmpl/academics/settings/academic_settings/room_allocation/index.html'"></div>
              </section>
            </md-tab>
          </md-tabs>
          </md-content>
      </div>
    </div>
  </div>
