<div class="tile-body">
  <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_branch('lg')">
    <i class="fa fa-plus"></i> Branch</button>
  <table ng-table="tableParamsBranch" class="table table-custom" show-filter="true">
    <tr ng-repeat="branch in $data">
      <td data-title="'Sr. No.'">
        {{(tableParamsBranch.page()-1)*tableParamsBranch.count() +($index+1)}}</td>
      <td data-title="'Name'" filter="{ branch_title: 'text'}" sortable="'branch_title'">
        {{branch.branch_title}}</td>
      <td data-title="'Type'" filter="{ branch_type: 'text'}" sortable="'branch_type'">
        {{branch.branch_type}}</td>
      <td data-title="'City'" filter="{ branch_city: 'text'}" sortable="'branch_city'">
        {{branch.branch_city}}</td>
      <td data-title="'Address'" filter="{branch_address: 'text'}" sortable="'branch_address'">
        {{branch.branch_address}}</td>
      <td data-title="'Actions'">
        <div class="row">
          <button type="button" class="btn btn-rounded-20 btn-success btn-sm " style="width:30px" ng-click="edit_branch(branch.id)"><i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px" ng-click="view_branch(branch.id)"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
        </div>
      </td>
    </tr>
  </table>
</div>
