<form name="schoolForm" class="form-horizontal" submit-validate role="form" novalidate>
  <div class="form-dotted-group col-md-12" style="padding:5px;">
    <div style=" margin-bottom:40px;">
      <div class="photo-bg">
        <img id="logoPreview" src="{{campus_logo_url}}">
        <div class="prodile-photo-branch">
          <span class="fileinput-button profile-photo"><span><i class="fa fa-camera"></i></span>
          <input type="file" uploader="profileUploader" multiple nv-file-select="" id="logoUpload" class="photo-file" reuiqred type="file" ng-file-select="" ng-model="school.school_logo" name="branch_photo" accept="image/*" ng-file-change="" class="ng-pristine ng-invalid ng-invalid-required">
          </span>
        </div>
      </div>
      <div class="form-group" style="margin-left:170px;">
        <div class="col-sm-6" ng-class="{ 'has-error' : schoolForm.name.$invalid && !schoolForm.name.$pristine, 'has-success' : schoolForm.name.$valid && !schoolForm.name.$pristine}">
          <label for="name">Name*</label>
          <input type="text" ng-model="school.name" name="name" maxlength="40" class="form-control" placeholder="Name" ng-pattern="/^[a-zA-Z ]+$/" required>
          <p class="help-block">
            <span ng-show="schoolForm.name.$error.pattern">Name is invalid.</span>
            <span ng-show="schoolForm.name.$error.required && !schoolForm.name.$pristine">Name is required.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : schoolForm.institute_type.$invalid && !schoolForm.institute_type.$pristine, 'has-success' : schoolForm.institute_type.$valid && !schoolForm.institute_type.$pristine}">
          <label for="institute_type">Institute Type*</label>
          <select ui-jq="chosen" name="institute_type" ng-model="school.institute_type" class="form-control">
            <option value="" ng-selected disabled="">Select institute type</option>
            <option value="School">School</option>
            <option value="Academy">Academy</option>
            <option value="College">College</option>
            <option value="Day Care">Day Care</option>
          </select>
          <p class="help-block">
            <span ng-show="schoolForm.institute_type.$error.required && !schoolForm.institute_type.$pristine">Institute type is required.</span>
          </p>
        </div>
      </div>
      <div class="form-group" style="margin-left:170px;">
        <div class="col-sm-6" ng-class="{ 'has-error' : schoolForm.founder_name.$invalid && !schoolForm.founder_name.$pristine, 'has-success' : schoolForm.founder_name.$valid && !schoolForm.founder_name.$pristine}">
          <label for="founder_name">Founder's Name</label>
          <input type="text" ng-model="school.founder_name" name="founder_name" maxlength="40" class="form-control" placeholder="Founder Name" ng-pattern="/^[a-zA-Z ]+$/">
          <p class="help-block">
            <span ng-show="schoolForm.founder_name.$error.pattern">Founder Name is invalid.</span>
          </p>
        </div>
        <div class="col-sm-6" ng-class="{ 'has-error' : schoolForm.founding_date.$invalid && !schoolForm.founding_date.$pristine, 'has-success' : schoolForm.founding_date.$valid && !schoolForm.founding_date.$pristine}">
          <label for="founding_date">Founding Date</label>
          <div class="input-group">
            <input type="text" name="founding_date" disabled class="form-control" ng-model="school.founding_date" datepicker-popup="{{format}}" is-open="dp.openedFoundingDate" datepicker-options="dateOptions" aw-datepicker-pattern="^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$" close-text="Close" placeholder="DD/MM/YYYY" />
            <span class="input-group-btn ">
                    <button type="button " class="btn btn-default " ng-click="openFoundingDate($event) "><i class="fa fa-calendar "></i></button>
                    </span>
          </div>
          <p class="help-block ">
            <span ng-show="schoolForm.founding_date.$invalid && !schoolForm.founding_date.$pristine ">Founding date is invalid.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-dotted-group col-md-12">
    <div class="form-group">
      <div class="col-sm-6">
        <label for="phone">Phone Number</label>
        <input type="input" name="phone" ui-mask="(999) 999-99999" class="form-control" ng-model="school.phone">
      </div>
      <div class="col-sm-6">
        <label for="fax">Fax Number</label>
        <input type="input" name="fax" class="form-control" ng-model="school.fax" ui-mask="(999) 999-99999">
      </div>
    </div>
  </div>
  <div class="form-dotted-group col-md-12">
    <div class="form-group">
      <div class="col-sm-6">
        <label for="main_office_address">Address</label>
        <input type="input" name="main_office_address" placeholder="Address" class="form-control" ng-model="school.main_office_address"></input>
      </div>
      <div class="col-sm-6">
        <label for="main_office_area">Area</label>
        <input type="input" name="main_office_area" placeholder="Area" class="form-control" ng-model="school.main_office_area"></input>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 ">
        <label for="country">Country</label>
        <select ui-jq="chosen" name="country" class="form-control chosen" ng-model="school.country" ng-change="get_cities()" ng-options="country.code as country.name for country in countries">
          <option value="" disabled>select country </option>
        </select>
      </div>
      <div class="col-sm-6" ng-show='school.country ==="PK"' ng-class="{ 'has-error' : schoolForm.province.$invalid &&   !schoolForm.province.$pristine, 'has-success' : schoolForm.province.$valid && !schoolForm.province.$pristine}">
        <label for="province">State/Province</label>
        <select ui-jq="chosen" name="province" class="form-control sapce-dropdown chosen" ng-model="school.province" ng-options="province.provinces_name as province.provinces_name for province in provinces">
          <option value="" disabled>select state </option>
        </select>
      </div>
      <div class="col-sm-6" ng-show='!(school.country ==="PK")' ng-class="{ 'has-error' : schoolForm.province.$invalid &&   !schoolForm.province.$pristine, 'has-success' : schoolForm.province.$valid && !schoolForm.province.$pristine}">
        <label for="province">State/Province</label>
        <input type="text" name="province" placeholder="State/Province" id="state" class="form-control" ng-model="school.province">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 ">
        <label for="city">City</label>
        <select ui-jq="chosen" name="city" class="form-control chosen dasdassadsa" ng-model="selectedcity.name" ng-options="city.city_name as city.city_name for city in cities">
          <option value="" disabled>Select city</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label for="zip_code">Zip Code</label>
        <input type="number" name="zip_code" placeholder="Zip Code" class="form-control" ng-model="school.zip_code">
      </div>
    </div>
  </div>
  <div class="form-dotted-group col-md-12">
    <div class="form-group">
      <div class="col-sm-6" ng-class="{ 'has-error' : schoolForm.email.$invalid && !schoolForm.email.$pristine, 'has-success' : schoolForm.email.$valid && !schoolForm.email.$pristine}">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" id="email" class="form-control" ng-model="school.email">
        <p class="help-block">
          <span ng-show="schoolForm.email.$invalid">Enter valid email address.</span>
        </p>
      </div>
      <div class="col-sm-6" ng-class="{ 'has-error' : schoolForm.website.$invalid && !schoolForm.website.$pristine, 'has-success' : schoolForm.website.$valid && !schoolForm.website.$pristine}">
        <label for="website">Website</label>
        <input type="input" name="website" placeholder="Website" id="website" class="form-control" ng-model="school.website">
      </div>
    </div>
  </div>
  <div class="form-dotted-group col-md-12">
    <div class="form-group">
      <div class="col-sm-6">
        <label for="additional_info">Additional Information</label>
        <textarea class="form-control" rows="3" name="additional_info" placeholder="Additional Information" ng-model="school.additional_info" on-blur-validation></textarea>
      </div>
    </div>
  </div>
  <div class="form-group margin-top-10 ">
    <div class="col-sm-12 " style="text-align:center; ">
      <button name="saveBtn " class="btn btn-success btn-ef btn-ef-3 btn-ef-3c " ng-disabled="schoolForm.$invalid " ng-click="add_school_submit() "><i class="fa fa-arrow-right "></i> Save</button>
    </div>
  </div>
</form>
