<div class="page page-dashboard">
  <div class="pageheader">
    <h2>{{page.title}} 
    <!-- <span>// {{page.subtitle}}</span-->    </h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{page.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>
      <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- cards row -->
  <div class="row">
    <div class="col-md-7">
      <section class="tile">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Student </strong>Fee</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen07 = !isFullscreen07">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body">
          <flot dataset="pie_dataset" options="pie_options" height="250px"></flot>
        </div>
        <!-- /tile body -->
      </section>
      <br/>
      <section class="tile">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Students </strong>per Class</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen03 = !isFullscreen03">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body">
          <flot dataset="bar_dataset" options="bar_options" height="250px"></flot>
        </div>
        <!-- /tile body -->
      </section>
      <br/>
      <section class="tile">
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Registrations</strong></h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen05 = !isFullscreen05">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <div morris-line-chart id="morris-line-chart"></div>
      </section>
    </div>
    <div class="col-md-5">
      <section class="tile bg-slategray widget-calendar">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Calendar </strong></h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen05 = !isFullscreen05">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body p-0">
          <datepicker ng-model="dt" show-weeks="false" class="datepicker"></datepicker>
        </div>
        <!-- /tile body -->
      </section>
      <br/>
      <section class="tile">
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Accounts</strong></h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen12 = !isFullscreen12">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <div morris-bar-chart bar-data='basicData' bar-xkey='month' bar-ykeys='["a", "b"]' bar-labels='["Income", "Expenses"]' bar-colors='["#ff4a43","#1693A5"]' style="height: 250px"></div>
      </section>
      <br/>
      <section class="tile">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Outstanding </strong>Dues</h1>
          <ul class="controls">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen03 = !isFullscreen03">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
              </ul>
            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body">
          <flot dataset="bar2_dataset" options="bar2_options" height="250px"></flot>
        </div>
        <!-- /tile body -->
      </section>
    </div>
  </div>
</div>
