<button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" ng-click="create_room()">
  <i class="fa fa-plus"></i> Room</button>
<table ng-table="tableParams2" class="table table-custom" show-filter="true">
  <tr ng-repeat="class_room in $data">
    <td data-title="'Sr. No.'">
      {{(tableParams2.page()-1)*tableParams2.count() +($index+1)}}
    </td>
    <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
      {{class_room.name}}</td>
    <td data-title="'Number'" filter="{ room_num: 'text'}" sortable="'room_num'">{{class_room.room_num}}</td>
    <td data-title="'Capacity'" filter="{ capacity: 'text'}" sortable="'capacity'">{{class_room.capacity}}</td>
    <td data-title="'Facility'" filter="{ facility: 'text'}" sortable="'facility'">{{class_room.facility_string}}</td>
    <td data-title="'Description'" filter="{ description: 'text'}" sortable="'description'">{{class_room.description}}</td>
    <td data-title="'Type'" filter="{ room_type: 'text'}" sortable="'room_type'">{{class_room.room_type.name}}</td>
    <td data-title="'Action'">
      <div class="row">
        <button type="button" ng-click="edit_room(class_room.id)" class="btn btn-rounded-20 btn-primary btn-sm" style="width:30px"><i class="fa fa-pencil" style="margin-left: -2px"></i></button>
        <button type="button" ng-click="show_room(class_room.id)" class="btn btn-rounded-20 btn-success btn-sm" style="width:30px"><i class="fa fa-eye" style="margin-left: -2px"></i></button>
      </div>
    </td>
  </tr>
</table>
